<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (programmationInscription) {
      <div>
        <h2 data-cy="programmationInscriptionDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.detail.title">Programmation Inscription</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ programmationInscription.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.libelleProgrammation"
              >Libelle Programmation</span
            >
          </dt>
          <dd>
            <span>{{ programmationInscription.libelleProgrammation }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ programmationInscription.dateDebut | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ programmationInscription.dateFin | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.ouvertYN">Ouvert YN</span></dt>
          <dd>
            <span>{{ programmationInscription.ouvertYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.emailUser">Email User</span></dt>
          <dd>
            <span>{{ programmationInscription.emailUser }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.anneeAcademique">Annee Academique</span></dt>
          <dd>
            @if (programmationInscription.anneeAcademique) {
              <div>
                <a [routerLink]="['/annee-academique', programmationInscription.anneeAcademique.id, 'view']">{{
                  programmationInscription.anneeAcademique.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.formation">Formation</span></dt>
          <dd>
            @if (programmationInscription.formation) {
              <div>
                <a [routerLink]="['/formation', programmationInscription.formation.id, 'view']">{{
                  programmationInscription.formation.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.campagne">Campagne</span></dt>
          <dd>
            @if (programmationInscription.campagne) {
              <div>
                <a [routerLink]="['/campagne', programmationInscription.campagne.id, 'view']">{{ programmationInscription.campagne.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/microservicegir/programmation-inscription', programmationInscription.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
