<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed bg-dark-gradient "
  colorScheme="dark"
  id="sidebar1"
  visible
>
  <c-sidebar-header class="">
    
    
    <c-sidebar-brand class="w-100 d-flex justify-content-center" cSidebarToggle="sidebar1" toggle="unfoldable" style="cursor: pointer;">
      
      <img [class]="{icon: false}" cIcon class="sidebar-brand-full" height="100" name="logo" title="CoreUI Logo"  src="assets/images/logo.png" alt="" srcset="">
    </c-sidebar-brand>
    <button cSidebarToggle="sidebar1"
            cButtonClose
            class="d-lg-none"
            dark
            toggle="visible">
    </button>
    <button cSidebarToggler="sidebar1" toggle="unfoldable"></button>
  </c-sidebar-header>

  <ng-scrollbar #scrollbar="ngScrollbar" (updated)="onScrollbarUpdate(scrollbar.state)" class="overflow" pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav #overflow [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>
  <div class="p-2">
    <div class="p-2 w-100 annee-connexion d-flex">
      <i class="bi bi-calendar-minus"></i>
      <select aria-label="Default select example" class="border-0 p-1 w-100 " cSelect>
        <option>2025-2026</option>
        <option value="1">2024-2025</option>
        <option value="2">2023-2024</option>
        <option value="3">2022-2023</option>
      </select>
    </div>
  </div>
  
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-default-header [cShadowOnScroll]="'sm'"
                      class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
                      position="sticky"
                      sidebarId="sidebar1"
                      style="background-image: url('assets/images/bag-nav.png');" />
  <!--app-body-->
  <div class="body flex-grow-1 content-page">
    <c-container breakpoint="lg" class="h-auto px-4 ">
      <div class="">
        <router-outlet  />
      </div>
      
    </c-container>
    
  </div>
  <!--app footer-->
  <app-default-footer />
  
  
</div>

<!--aside-->
<app-default-aside style="display: none;" />
