<c-row>
  <c-col [xl]="12">
    <c-row>
      <c-col [lg]="12">
        <c-card class="mb-4 content-info">
          <c-card-body class="p-4">
            <div class=" row">
              <div class="col-12 col-md-9">
                <h5 cCardTitle class="fs-4 fw-semibold">Description des services</h5>
                <h6 cCardSubtitle class="fw-normal text-body-secondary">

                <br>
                  Le SI e-UGB est découpé en plusieurs services pour améliorer la gestion administrative
                  et pédagogique de l'UGB tout en offrant une expérience utilisateur améliorée et sécurisée
                  pour tous les membres de la communauté universitaire.

                </h6>
              </div>
              <img class="col-3 d-none d-md-flex"  src="assets/images/icons-info.png" alt="" srcset="">
            </div>
          </c-card-body>
          
        </c-card>
      </c-col>

    
    </c-row>
    

  </c-col>
  <div class=" content-services">
    <h2 class="ms-4 titre-service">SERVICES</h2>
    <div class="d-flex justify-content-center">
      <div class="flex row gy-4">
        <div class="col-12 col-md-6 col-lg-4 ">
          <app-info-service/>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <c-card class=" m-1 info-service" >
            <c-card-body>
              
              <i class="bi bi-book  grand-icone"></i>
              <h4 cCardTitle class="fw-bolder">Gestion des enseignements</h4>
              <p cCardText>
                La gestion des enseignements facilite le suivi des affectations 
                des UE, des EC, la planification et la gestion des programmes universitaires...
              <a cCardLink  class="d-flex justify-content-end">
                <i class="bi bi-arrow-right"></i>
              </a>
            </c-card-body>
        </c-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <c-card class=" m-1 info-service" >
            <c-card-body>
              
              <i class="bi bi-check-square  grand-icone"></i>
              <h4 cCardTitle class="fw-bolder">Inscriptions pédagogiques</h4>
              <p cCardText>
                L'inscription pédagogique d'un étudiant a lieu après son inscription ou sa réinscription administrative ...
              <a cCardLink  class="d-flex justify-content-end">
                <i class="bi bi-arrow-right"></i>
              </a>
            </c-card-body>
        </c-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
          <c-card class=" m-1 info-service" >
            <c-card-body>
              
              <i class="bi bi-bi bi-pass  grand-icone"></i>
              <h4 cCardTitle class="fw-bolder">Evaluation des enseignements et suivi des performances</h4>
              <p cCardText>
                Ce service contribue à améliore l’efficacité et la qualité d’enseignement à l’UGB. Il aide les professeurs à identifier les opportunités de développement professionnel...
              <a cCardLink  class="d-flex justify-content-end">
                <i class="bi bi-arrow-right"></i>
              </a>
            </c-card-body>
        </c-card>
        </div>
      </div>
    </div>

  </div>
  


  
</c-row>
