:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.content-info{
  background: linear-gradient(0.15turn,rgb(255, 255, 255), #d5f1ff);
  h6{
      text-align : justify;
  }
  img{
      margin-left: auto;
      max-height: 120px;
      width: auto;
  }

}

.titre-service{
  font-family: 'Montserrat SemiBold';
}
.content-services{
  margin-top: 40px;
}



  
.grand-icone{
  font-size: 52px;
}



.info-service:hover{
  *{
      color: white;
  }
  background-color: #6ea7c4;
  border: 1px solid #3588B2;
  box-shadow: 0px 15px 25px #0000004f !important;
  cursor: pointer;
  transition: 500ms;

}

.info-service{
  border-radius: 20px;
  transition: 800ms;

}
