<div>
  <h2 id="page-heading" data-cy="InscriptionAdministrativeHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.home.title">Inscription Administratives</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscription-administrative"
        [routerLink]="['/microservicegir/inscription-administrative/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.home.createLabel"
          >Create a new Inscription Administrative</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (inscriptionAdministratives?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.home.notFound"
        >No Inscription Administratives found</span
      >
    </div>
  }

  @if (inscriptionAdministratives && inscriptionAdministratives.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nouveauInscritYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.nouveauInscritYN">Nouveau Inscrit YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="repriseYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.repriseYN">Reprise YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autoriseYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.autoriseYN">Autorise YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordreInscription">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.ordreInscription">Ordre Inscription</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeAdmission.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.typeAdmission">Type Admission</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anneeAcademique.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.anneeAcademique">Annee Academique</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etudiant.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.etudiant">Etudiant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (inscriptionAdministrative of inscriptionAdministratives; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/inscription-administrative', inscriptionAdministrative.id, 'view']">{{
                  inscriptionAdministrative.id
                }}</a>
              </td>
              <td>{{ inscriptionAdministrative.nouveauInscritYN }}</td>
              <td>{{ inscriptionAdministrative.repriseYN }}</td>
              <td>{{ inscriptionAdministrative.autoriseYN }}</td>
              <td>{{ inscriptionAdministrative.ordreInscription }}</td>
              <td>
                @if (inscriptionAdministrative.typeAdmission) {
                  <div>
                    <a [routerLink]="['/microservicegir/type-admission', inscriptionAdministrative.typeAdmission.id, 'view']">{{
                      inscriptionAdministrative.typeAdmission.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (inscriptionAdministrative.anneeAcademique) {
                  <div>
                    <a [routerLink]="['/microservicegir/annee-academique', inscriptionAdministrative.anneeAcademique.id, 'view']">{{
                      inscriptionAdministrative.anneeAcademique.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (inscriptionAdministrative.etudiant) {
                  <div>
                    <a [routerLink]="['/microservicegir/etudiant', inscriptionAdministrative.etudiant.id, 'view']">{{
                      inscriptionAdministrative.etudiant.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/inscription-administrative', inscriptionAdministrative.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/inscription-administrative', inscriptionAdministrative.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(inscriptionAdministrative)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (inscriptionAdministratives && inscriptionAdministratives.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
