<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (doctorat) {
      <div>
        <h2 data-cy="doctoratDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirDoctorat.detail.title">Doctorat</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ doctorat.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirDoctorat.sujet">Sujet</span></dt>
          <dd>
            <span>{{ doctorat.sujet }}</span>
          </dd>
          <dt>
            <span jhiTranslate="microserviceGirApp.microserviceGirDoctorat.anneeInscriptionDoctorat">Annee Inscription Doctorat</span>
          </dt>
          <dd>
            <span>{{ doctorat.anneeInscriptionDoctorat | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirDoctorat.encadreurId">Encadreur Id</span></dt>
          <dd>
            <span>{{ doctorat.encadreurId }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirDoctorat.laboratoirId">Laboratoir Id</span></dt>
          <dd>
            <span>{{ doctorat.laboratoirId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/doctorat', doctorat.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
