
<div class="d-flex">
  @if (selectedItems[0] !=null) {
    <button   cButton color="secondary" size="sm" class="text-white ms-auto fw-bolder " (click)="create()" >
      <i class="bi bi-calendar-fill me-2"></i> Programmer
  </button>
  }@else {
  <button   cButton color="primary" size="sm" class="text-white ms-auto fw-bolder " (click)="create()" >
    <i class="bi bi-calendar-fill me-2"></i>Ajouter une programmation d'inscription
</button>
}
  
</div>
<!-- <div color="secondary">Selected: {{selectedItems}}</div> -->

<c-smart-table
  [columnSorter]="true"
  [columns]="columns"
  [itemsPerPageSelect]="true"
  [itemsPerPage]="5"
  [items]="formationList"
  [tableBodyProps]="{ align: 'middle' }"
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  (selectedItemsChange)="checkSelected($event)"
  clickableRows
  footer
  header
  pagination
  noItemsLabel="La liste est vide"
  [loading]="isloading"
  selectable
>
  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>
      @switch (columnName) {
        @case ('niveau'){
          {{(item[columnName].libelleNiveau)}}
        }
        @case ('specialite'){
          {{(item[columnName].nomSpecialites)}}
        }
        @case ('status') {
          <c-badge [color]="getBadge(tdContent)">
            {{(item[columnName])}}
          </c-badge>
        }
        @case ('show') {
          <div class="d-flex gap-2">
            <button (click)="view(item.id)" cButton cPopover="Détails" cPopoverPlacement="left" color="light" size="sm" variant="outline">
              <i class="bi bi-eye-fill"></i>
            </button>
            <button cButton cPopover="Mise à jour" cPopoverPlacement="top" 
            color="primary" size="sm" variant="outline" (click)="update(item.id)">
              <i class="bi bi-calendar-fill"></i>
            </button>
            <!-- <button (click)="toggleLiveDemo(item)" cButton cPopover="Suppression" cPopoverPlacement="right" color="danger" size="sm" variant="outline">
              <i class="bi bi-x-lg"></i>
            </button> -->
          </div>
        }
        @default {
          {{tdContent}}
        }
      }
    </td>
  </ng-template>
</c-smart-table>

