<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-utilisateur-heading"
        data-cy="UtilisateurCreateUpdateHeading"
        jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.home.createOrEditLabel"
      >
        Create or edit a Utilisateur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.nomUser" for="field_nomUser"
            >Nom User</label
          >
          <input type="text" class="form-control" name="nomUser" id="field_nomUser" data-cy="nomUser" formControlName="nomUser" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.prenomUser" for="field_prenomUser"
            >Prenom User</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomUser"
            id="field_prenomUser"
            data-cy="prenomUser"
            formControlName="prenomUser"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.emailUser" for="field_emailUser"
            >Email User</label
          >
          <input type="text" class="form-control" name="emailUser" id="field_emailUser" data-cy="emailUser" formControlName="emailUser" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.motDePasse" for="field_motDePasse"
            >Mot De Passe</label
          >
          <input
            type="text"
            class="form-control"
            name="motDePasse"
            id="field_motDePasse"
            data-cy="motDePasse"
            formControlName="motDePasse"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.role" for="field_role">Role</label>
          <input type="text" class="form-control" name="role" id="field_role" data-cy="role" formControlName="role" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.matricule" for="field_matricule"
            >Matricule</label
          >
          <input type="text" class="form-control" name="matricule" id="field_matricule" data-cy="matricule" formControlName="matricule" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.departement" for="field_departement"
            >Departement</label
          >
          <input
            type="text"
            class="form-control"
            name="departement"
            id="field_departement"
            data-cy="departement"
            formControlName="departement"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.statut" for="field_statut">Statut</label>
          <input type="text" class="form-control" name="statut" id="field_statut" data-cy="statut" formControlName="statut" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
