<div>
  <h2 id="page-heading" data-cy="AnneeAcademiqueHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.home.title">Annee Academiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annee-academique"
        [routerLink]="['/microservicegir/annee-academique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.home.createLabel">Create a new Annee Academique</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (anneeAcademiques?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.home.notFound">No Annee Academiques found</span>
    </div>
  }

  @if (anneeAcademiques && anneeAcademiques.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleAnneeAcademique">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.libelleAnneeAcademique"
                  >Libelle Annee Academique</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anneeAc">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.anneeAc">Annee Ac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anneeCouranteYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirAnneeAcademique.anneeCouranteYN">Annee Courante YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (anneeAcademique of anneeAcademiques; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/annee-academique', anneeAcademique.id, 'view']">{{ anneeAcademique.id }}</a>
              </td>
              <td>{{ anneeAcademique.libelleAnneeAcademique }}</td>
              <td>{{ anneeAcademique.anneeAc }}</td>
              <td>{{ anneeAcademique.anneeCouranteYN }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/annee-academique', anneeAcademique.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/annee-academique', anneeAcademique.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(anneeAcademique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (anneeAcademiques && anneeAcademiques.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
