<div>
  <h2 id="page-heading" data-cy="DoctoratHeading">
    <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.home.title">Doctorats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-doctorat"
        [routerLink]="['/microservicegir/doctorat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" ugbTranslate="microserviceGirApp.microserviceGirDoctorat.home.createLabel"
          >Créer un nouveau Doctorat</span
        >
      </button>
    </div>
  </h2>

  <ugb-alert-error></ugb-alert-error>

  <ugb-alert></ugb-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" ugbTranslate="microserviceGirApp.microserviceGirDoctorat.home.search"
          >Recherche pour Doctorat</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'microserviceGirApp.microserviceGirDoctorat.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (doctorats?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.home.notFound">Aucun Doctorat trouvé</span>
    </div>
  }

  @if (doctorats && doctorats.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ugbSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" ugbSortBy="id">
              <div class="d-flex">
                <span ugbTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="sujet">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.sujet">Sujet</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" ugbSortBy="anneeInscriptionDoctorat">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.anneeInscriptionDoctorat">Annee Inscription Doctorat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="encadreurId">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.encadreurId">Encadreur Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="laboratoirId">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirDoctorat.laboratoirId">Laboratoir Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (doctorat of doctorats; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/doctorat', doctorat.id, 'view']">{{ doctorat.id }}</a>
              </td>
              <td>{{ doctorat.sujet }}</td>
              <td>{{ doctorat.anneeInscriptionDoctorat | formatMediumDate }}</td>
              <td>{{ doctorat.encadreurId }}</td>
              <td>{{ doctorat.laboratoirId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/doctorat', doctorat.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/doctorat', doctorat.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(doctorat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (doctorats && doctorats.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ugb-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></ugb-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
