<div>
  <h2 id="page-heading" data-cy="PaiementFormationPriveeHeading">
    <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.home.title">PaiementFormationPrivees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paiement-formation-privee"
        [routerLink]="['/microservicegir/paiement-formation-privee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.home.createLabel"
          >Créer un nouveau Paiement Formation Privee</span
        >
      </button>
    </div>
  </h2>

  <ugb-alert-error></ugb-alert-error>

  <ugb-alert></ugb-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.home.search"
          >Recherche pour Paiement Formation Privee</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'microserviceGirApp.microserviceGirPaiementFormationPrivee.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (paiementFormationPrivees?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.home.notFound"
        >Aucun Paiement Formation Privee trouvé</span
      >
    </div>
  }

  @if (paiementFormationPrivees && paiementFormationPrivees.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ugbSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" ugbSortBy="id">
              <div class="d-flex">
                <span ugbTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="datePaiement">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.datePaiement">Date Paiement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="moisPaiement">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.moisPaiement">Mois Paiement</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" ugbSortBy="anneePaiement">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.anneePaiement">Annee Paiement</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" ugbSortBy="payerMensualiteYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.payerMensualiteYN">Payer Mensualite YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="payerDelaisYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.payerDelaisYN">Payer Delais YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="emailUser">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.emailUser">Email User</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" ugbSortBy="inscriptionAdministrativeFormation.id">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.inscriptionAdministrativeFormation"
                  >Inscription Administrative Formation</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="operateur.id">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.operateur">Operateur</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paiementFormationPrivee of paiementFormationPrivees; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/paiement-formation-privee', paiementFormationPrivee.id, 'view']">{{
                  paiementFormationPrivee.id
                }}</a>
              </td>
              <td>{{ paiementFormationPrivee.datePaiement | formatMediumDatetime }}</td>
              <td>{{ paiementFormationPrivee.moisPaiement }}</td>
              <td>{{ paiementFormationPrivee.anneePaiement }}</td>
              <td>{{ paiementFormationPrivee.payerMensualiteYN }}</td>
              <td>{{ paiementFormationPrivee.payerDelaisYN }}</td>
              <td>{{ paiementFormationPrivee.emailUser }}</td>
              <td>
                @if (paiementFormationPrivee.inscriptionAdministrativeFormation) {
                  <div>
                    <a
                      [routerLink]="[
                        '/microservicegir/inscription-administrative-formation',
                        paiementFormationPrivee.inscriptionAdministrativeFormation.id,
                        'view'
                      ]"
                      >{{ paiementFormationPrivee.inscriptionAdministrativeFormation.id }}</a
                    >
                  </div>
                }
              </td>
              <td>
                @if (paiementFormationPrivee.operateur) {
                  <div>
                    <a [routerLink]="['/microservicegir/operateur', paiementFormationPrivee.operateur.id, 'view']">{{
                      paiementFormationPrivee.operateur.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/paiement-formation-privee', paiementFormationPrivee.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/paiement-formation-privee', paiementFormationPrivee.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(paiementFormationPrivee)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (paiementFormationPrivees && paiementFormationPrivees.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ugb-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></ugb-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
