<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (formation) {
      <div>
        <h2 data-cy="formationDetailsHeading">
          <span ugbTranslate="microserviceGirApp.microserviceGirFormation.detail.title">Formation</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ formation.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.classeDiplomanteYN">Classe Diplomante YN</span></dt>
          <dd>
            <span>{{ formation.classeDiplomanteYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.libelleDiplome">Libelle Diplome</span></dt>
          <dd>
            <span>{{ formation.libelleDiplome }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.codeFormation">Code Formation</span></dt>
          <dd>
            <span>{{ formation.codeFormation }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.nbreCreditsMin">Nbre Credits Min</span></dt>
          <dd>
            <span>{{ formation.nbreCreditsMin }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.estParcoursYN">Est Parcours YN</span></dt>
          <dd>
            <span>{{ formation.estParcoursYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.lmdYN">Lmd YN</span></dt>
          <dd>
            <span>{{ formation.lmdYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.actifYN">Actif YN</span></dt>
          <dd>
            <span>{{ formation.actifYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.typeFormation">Type Formation</span></dt>
          <dd>
            @if (formation.typeFormation) {
              <div>
                <a [routerLink]="['/type-formation', formation.typeFormation.id, 'view']">{{ formation.typeFormation.id }}</a>
              </div>
            }
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.niveau">Niveau</span></dt>
          <dd>
            @if (formation.niveau) {
              <div>
                <a [routerLink]="['/niveau', formation.niveau.id, 'view']">{{ formation.niveau.id }}</a>
              </div>
            }
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.specialite">Specialite</span></dt>
          <dd>
            @if (formation.specialite) {
              <div>
                <a [routerLink]="['/specialite', formation.specialite.id, 'view']">{{ formation.specialite.id }}</a>
              </div>
            }
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirFormation.departement">Departement</span></dt>
          <dd>
            @if (formation.departement) {
              <div>
                <a [routerLink]="['/departement', formation.departement.id, 'view']">{{ formation.departement.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/formation', formation.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
