<div>

  <!-- give label and data ( required) , if possible his color (not required) -->

  <h3>Détail</h3>
  <div class="d-flex flex-column gap-2">

  <!-- display item data, label data and data -->

  <app-data-display label="nom" [data]="'ministere zoulaykha'"  ></app-data-display>

  <app-data-display label="sigle" [data]="'mz'"  ></app-data-display>

  <app-data-display label="Date debut" [data]="'12/6/2024'"  ></app-data-display>

  <app-data-display label="Date fin" [data]="'12/12/2024'"  ></app-data-display>


  </div>





</div>

