<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (formationValide) {
      <div>
        <h2 data-cy="formationValideDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirFormationValide.detail.title">Formation Valide</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ formationValide.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationValide.valideYN">Valide YN</span></dt>
          <dd>
            <span>{{ formationValide.valideYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationValide.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ formationValide.dateDebut | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationValide.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ formationValide.dateFin | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationValide.formation">Formation</span></dt>
          <dd>
            @if (formationValide.formation) {
              <div>
                <a [routerLink]="['/formation', formationValide.formation.id, 'view']">{{ formationValide.formation.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/formation-valide', formationValide.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
