<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (typeAdmission) {
      <div>
        <h2 data-cy="typeAdmissionDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirTypeAdmission.detail.title">Type Admission</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ typeAdmission.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirTypeAdmission.libelleTypeAdmission">Libelle Type Admission</span></dt>
          <dd>
            <span>{{ typeAdmission.libelleTypeAdmission }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/type-admission', typeAdmission.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
