<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-deliberation-heading"
        data-cy="DeliberationCreateUpdateHeading"
        jhiTranslate="microserviceDeliberationApp.microserviceDeliberationDeliberation.home.createOrEditLabel"
      >
        Create or edit a Deliberation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceDeliberationApp.microserviceDeliberationDeliberation.estValidee"
            for="field_estValidee"
            >Est Validee</label
          >
          <input
            type="number"
            class="form-control"
            name="estValidee"
            id="field_estValidee"
            data-cy="estValidee"
            formControlName="estValidee"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceDeliberationApp.microserviceDeliberationDeliberation.pvDeliberation"
            for="field_pvDeliberation"
            >Pv Deliberation</label
          >
          <div>
            @if (editForm.get('pvDeliberation')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('pvDeliberation')!.value!, editForm.get('pvDeliberationContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('pvDeliberationContentType')!.value }}, {{ byteSize(editForm.get('pvDeliberation')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ pvDeliberation: undefined, pvDeliberationContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_pvDeliberation"
              data-cy="pvDeliberation"
              (change)="setFileData($event, 'pvDeliberation', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="pvDeliberation"
            id="field_pvDeliberation"
            data-cy="pvDeliberation"
            formControlName="pvDeliberation"
          />
          <input
            type="hidden"
            class="form-control"
            name="pvDeliberationContentType"
            id="field_pvDeliberationContentType"
            formControlName="pvDeliberationContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
