
<div class="">
    <h3>Ajout Ministere</h3>
    <form #customStylesForm="ngForm"
        (ngSubmit)="onSubmit1()"

        cForm
        class="row g-3 needs-validation"
        [formGroup]="ministereForm"

    >
        <c-col md="12">
            <label cLabel for="validationCustom01">Nom </label>
            <input cFormControl id="validationCustom01" required type="text" value=""
            [valid]="(ministereForm?.get('nomMinistere')?.touched && ministereForm?.get('nomMinistere')?.valid) ? true
               : (ministereForm?.get('nomMinistere')?.touched) && ministereForm?.get('nomMinistere')?.invalid ? false : undefined"
            formControlName="nomMinistere"/>
            <c-form-feedback>nom requis </c-form-feedback>
        </c-col>
        <c-col md="12">
            <label cLabel for="validationCustom02">Sigle </label>
            <input cFormControl id="validationCustom02" required type="text"
              value="" formControlName="sigleMinistere" [autofocus]="true"
              [valid]="(ministereForm?.get('sigleMinistere')?.touched && ministereForm?.get('sigleMinistere')?.valid) ? true
               : (ministereForm?.get('sigleMinistere')?.touched) && ministereForm?.get('sigleMinistere')?.invalid ? false : undefined"/>
            <c-form-feedback >sigle requis</c-form-feedback>
        </c-col>
        <c-col md="12">
            <label cLabel for="validationCustom03">Date de création </label>
            <c-date-picker cFormControl id="validationCustom03"
              [valid]="(ministereForm?.get('dateDebut')?.touched && ministereForm?.get('dateDebut')?.valid) ? true : (ministereForm?.get('dateDebut')?.touched) && ministereForm?.get('dateDebut')?.invalid ? false : undefined"
              required  locale="fr-FR"   formControlName="dateDebut"/>


            @if ((ministereForm?.get('dateDebut')?.touched && ministereForm?.get('dateDebut')?.hasError('required'))) {
              <span class="text-danger" > date requise</span>
            }


        </c-col>



        <div class="col-12 d-flex justify-content-between ">
            <div class=" w-50 pe-1">
                <button (click)="onReset1()" class=" w-100" cButton color="secondary" type="reset">
                    Vider
                </button>
            </div>
            <div class=" w-50 ps-1">
                <button cButton class=" w-100 text-white" [disabled]="!ministereForm?.valid"  color="primary" type="submit">
                    Enregistrer
                </button>

            </div>







        </div>
    </form>
</div>

<c-toaster class="p-3" position="fixed" [placement]="placement" />


