<c-card class=" m-1 info-service" >
    <c-card-body>
      
      <i class="bi bi-mortarboard  grand-icone"></i>
      <h4 cCardTitle class="fw-bolder">Inscription</h4>
      <p cCardText>
        Ce service permet d'automatiser le processus d'inscription et de réinscription des étudiants. 
        Il inclut également les fonctionnalités pour le paiement en ligne des frais d'inscription et des autres frais associés.
      
      <a cCardLink  class="d-flex justify-content-end">
        <i class="bi bi-arrow-right"></i>
      </a>
    </c-card-body>
</c-card>