<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (enseignant) {
      <div>
        <h2 data-cy="enseignantDetailsHeading">
          <span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.detail.title">Enseignant</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ enseignant.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.titreCoEncadreur">Titre Co Encadreur</span></dt>
          <dd>
            <span>{{ enseignant.titreCoEncadreur }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.nomEnseignant">Nom Enseignant</span></dt>
          <dd>
            <span>{{ enseignant.nomEnseignant }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.prenomEnseignant">Prenom Enseignant</span></dt>
          <dd>
            <span>{{ enseignant.prenomEnseignant }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.emailEnseignant">Email Enseignant</span></dt>
          <dd>
            <span>{{ enseignant.emailEnseignant }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.telephoneEnseignant">Telephone Enseignant</span></dt>
          <dd>
            <span>{{ enseignant.telephoneEnseignant }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.titresId">Titres Id</span></dt>
          <dd>
            <span>{{ enseignant.titresId }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.utilisateursId">Utilisateurs Id</span></dt>
          <dd>
            <span>{{ enseignant.utilisateursId }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.adresse">Adresse</span></dt>
          <dd>
            <span>{{ enseignant.adresse }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.numeroPoste">Numero Poste</span></dt>
          <dd>
            <span>{{ enseignant.numeroPoste }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.photoEnseignant">Photo Enseignant</span></dt>
          <dd>
            @if (enseignant.photoEnseignant) {
              <div>
                <a (click)="openFile(enseignant.photoEnseignant, enseignant.photoEnseignantContentType)" jhiTranslate="entity.action.open"
                  >Open</a
                >
                {{ enseignant.photoEnseignantContentType }}, {{ byteSize(enseignant.photoEnseignant) }}
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegrh/enseignant', enseignant.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
