<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (universite) {
      <div>
        <h2 data-cy="universiteDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirUniversite.detail.title">Universite</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ universite.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUniversite.nomUniversite">Nom Universite</span></dt>
          <dd>
            <span>{{ universite.nomUniversite }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUniversite.sigleUniversite">Sigle Universite</span></dt>
          <dd>
            <span>{{ universite.sigleUniversite }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUniversite.ministere">Ministere</span></dt>
          <dd>
            @if (universite.ministere) {
              <div>
                <a [routerLink]="['/ministere', universite.ministere.id, 'view']">{{ universite.ministere.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/universite', universite.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
