<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (lycee) {
      <div>
        <h2 data-cy="lyceeDetailsHeading"><span ugbTranslate="microserviceGirApp.microserviceGirLycee.detail.title">Lycee</span></h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ lycee.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirLycee.nomLycee">Nom Lycee</span></dt>
          <dd>
            <span>{{ lycee.nomLycee }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirLycee.codeLycee">Code Lycee</span></dt>
          <dd>
            <span>{{ lycee.codeLycee }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirLycee.villeLycee">Ville Lycee</span></dt>
          <dd>
            <span>{{ lycee.villeLycee }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirLycee.academieLycee">Academie Lycee</span></dt>
          <dd>
            <span>{{ lycee.academieLycee }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirLycee.centreExamen">Centre Examen</span></dt>
          <dd>
            <span>{{ lycee.centreExamen }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirLycee.region">Region</span></dt>
          <dd>
            @if (lycee.region) {
              <div>
                <a [routerLink]="['/region', lycee.region.id, 'view']">{{ lycee.region.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/lycee', lycee.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
