<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (rapport) {
      <div>
        <h2 data-cy="rapportDetailsHeading"><span jhiTranslate="microserviceGdApp.microserviceGdRapport.detail.title">Rapport</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ rapport.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGdApp.microserviceGdRapport.libelleRapport">Libelle Rapport</span></dt>
          <dd>
            <span>{{ rapport.libelleRapport }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGdApp.microserviceGdRapport.descriptionRapport">Description Rapport</span></dt>
          <dd>
            <span>{{ rapport.descriptionRapport }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGdApp.microserviceGdRapport.contenuRapport">Contenu Rapport</span></dt>
          <dd>
            <span>{{ rapport.contenuRapport }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGdApp.microserviceGdRapport.dateRedaction">Date Redaction</span></dt>
          <dd>
            <span>{{ rapport.dateRedaction | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegd/rapport', rapport.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
