.etudiant{
    background-color: transparent !important;
    border-radius: 30px !important;
    border: 1px solid #ffffff !important;
    *{
        background-color: transparent !important;
        color: #ffffff !important;
    }
    input::placeholder{
        color: #ffffff;
    } 
}

.index-user{
    position: relative !important;
    z-index: 10000000 !important;
}

.user-content{
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff !important;
    font-family: 'Montserrat Medium';
    padding: 4px !important;
    padding-inline: 10px !important;
    align-items: center;
    span{
        padding-inline: 5px;
    }
}

.index{
    z-index: 1040 !important;
}

.dropdown {
    position: relative !important;
    ul li{
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .herder-content > *{
  
      margin-top: 5px;
    }
  }
