<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="px-4 herder-content">
    
    <div class="d-flex">
      <button
          [cSidebarToggle]="sidebarId"
          cHeaderToggler
          class="btn d-lg-none pe-3"
          toggle="visible"
          style="margin-inline-start: -14px;"
        >
          <svg cIcon name="cilMenu" size="lg"></svg>
      </button>
      <div>
        <app-default-breadcrumb />
      </div>
    </div>
    
    <form cForm class=" d-sm-flex etudiant">
      <c-input-group class=" ">
        <span cInputGroupText id="search-addon" class="bg-body-primary border-0 px-1">
          <svg cIcon name="cilSearch" size="lg" class="my-1 mx-2 text-body-secondary"></svg>
        </span>
        <input cFormControl
               placeholder="Search..."
               aria-label="Search"
               aria-describedby="search-addon"
               class="bg-body-secondary border-0"
        />
      </c-input-group>
    </form>




    <c-header-nav class="ms-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0">
      <c-avatar
        size="md"
        src="./assets/images/avatars/8.jpg"
        status="success"
        textColor="primary"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-1" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-1" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>










