<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (baccalaureat) {
      <div>
        <h2 data-cy="baccalaureatDetailsHeading">
          <span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.detail.title">Baccalaureat</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ baccalaureat.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.origineScolaire">Origine Scolaire</span></dt>
          <dd>
            <span>{{ baccalaureat.origineScolaire }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.anneeBac">Annee Bac</span></dt>
          <dd>
            <span>{{ baccalaureat.anneeBac | formatMediumDate }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.numeroTable">Numero Table</span></dt>
          <dd>
            <span>{{ baccalaureat.numeroTable }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.natureBac">Nature Bac</span></dt>
          <dd>
            <span>{{ baccalaureat.natureBac }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.mentionBac">Mention Bac</span></dt>
          <dd>
            <span>{{ baccalaureat.mentionBac }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.moyenneSelectionBac">Moyenne Selection Bac</span></dt>
          <dd>
            <span>{{ baccalaureat.moyenneSelectionBac }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.moyenneBac">Moyenne Bac</span></dt>
          <dd>
            <span>{{ baccalaureat.moyenneBac }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.actifYN">Actif YN</span></dt>
          <dd>
            <span>{{ baccalaureat.actifYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.etudiant">Etudiant</span></dt>
          <dd>
            @if (baccalaureat.etudiant) {
              <div>
                <a [routerLink]="['/etudiant', baccalaureat.etudiant.id, 'view']">{{ baccalaureat.etudiant.id }}</a>
              </div>
            }
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirBaccalaureat.serie">Serie</span></dt>
          <dd>
            @if (baccalaureat.serie) {
              <div>
                <a [routerLink]="['/serie', baccalaureat.serie.id, 'view']">{{ baccalaureat.serie.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/baccalaureat', baccalaureat.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
