<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-campagne-heading"
        data-cy="CampagneCreateUpdateHeading"
        jhiTranslate="microserviceGirApp.microserviceGirCampagne.home.createOrEditLabel"
      >
        Create or edit a Campagne
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirCampagne.libelleCampagne" for="field_libelleCampagne"
            >Libelle Campagne</label
          >
          <input
            type="text"
            class="form-control"
            name="libelleCampagne"
            id="field_libelleCampagne"
            data-cy="libelleCampagne"
            formControlName="libelleCampagne"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirCampagne.dateDebut" for="field_dateDebut"
            >Date Debut</label
          >
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirCampagne.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirCampagne.libelleAbrege" for="field_libelleAbrege"
            >Libelle Abrege</label
          >
          <input
            type="text"
            class="form-control"
            name="libelleAbrege"
            id="field_libelleAbrege"
            data-cy="libelleAbrege"
            formControlName="libelleAbrege"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
