<nav class="navbar navbar-light ">
    <div class="container d-flex justify-between">
      <a class="navbar-brand" href="#">
        <img src="/assets/image/logo.png" alt="" >
      </a>
      <div class=" ">
        <span class="texte-nav d-none d-lg-block">ESPACE NUMERIQUE DE TRAVAIL</span>
      </div>
      <div >
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            CONNEXION
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item etudiant" href="#"> <i class="bi bi-mortarboard"></i> Etudiant</a></li>
            <li><a class="dropdown-item enseignant" href="#"><i class="bi bi-person"></i> Enseigant</a></li>
            <li><a class="dropdown-item personnel" href="#"> <i class="bi bi-shield-check"></i> Personnel</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class=" w-100">
      <span class="texte-nav phone d-lg-none d-block  ">ESPACE NUMERIQUE DE TRAVAIL</span>
    </div>
</nav>
