<div>
  <h2 id="page-heading" data-cy="UtilisateurHeading">
    <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.home.title">Utilisateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-utilisateur"
        [routerLink]="['/microserviceuser/utilisateur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.home.createLabel">Create a new Utilisateur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (utilisateurs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.home.notFound">No Utilisateurs found</span>
    </div>
  }

  @if (utilisateurs && utilisateurs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.prenom">Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="motDePasse">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.motDePasse">Mot De Passe</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="matricule">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.matricule">Matricule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departement">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.departement">Departement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span jhiTranslate="microserviceUserApp.microserviceUserUtilisateur.statut">Statut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (utilisateur of utilisateurs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microserviceuser/utilisateur', utilisateur.id, 'view']">{{ utilisateur.id }}</a>
              </td>
              <td>{{ utilisateur.nom }}</td>
              <td>{{ utilisateur.prenom }}</td>
              <td>{{ utilisateur.email }}</td>
              <td>{{ utilisateur.motDePasse }}</td>
              <td>{{ utilisateur.role }}</td>
              <td>{{ utilisateur.matricule }}</td>
              <td>{{ utilisateur.departement }}</td>
              <td>{{ utilisateur.statut }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microserviceuser/utilisateur', utilisateur.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microserviceuser/utilisateur', utilisateur.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(utilisateur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (utilisateurs && utilisateurs.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
