<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (disciplineSportive) {
      <div>
        <h2 data-cy="disciplineSportiveDetailsHeading">
          <span ugbTranslate="microserviceGirApp.microserviceGirDisciplineSportive.detail.title">Discipline Sportive</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ disciplineSportive.id }}</span>
          </dd>
          <dt>
            <span ugbTranslate="microserviceGirApp.microserviceGirDisciplineSportive.libelleDisciplineSportive"
              >Libelle Discipline Sportive</span
            >
          </dt>
          <dd>
            <span>{{ disciplineSportive.libelleDisciplineSportive }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button
          type="button"
          [routerLink]="['/microservicegir/discipline-sportive', disciplineSportive.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
