<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (formationInvalide) {
      <div>
        <h2 data-cy="formationInvalideDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirFormationInvalide.detail.title">Formation Invalide</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ formationInvalide.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationInvalide.actifYN">Actif YN</span></dt>
          <dd>
            <span>{{ formationInvalide.actifYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationInvalide.formation">Formation</span></dt>
          <dd>
            @if (formationInvalide.formation) {
              <div>
                <a [routerLink]="['/formation', formationInvalide.formation.id, 'view']">{{ formationInvalide.formation.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationInvalide.anneAcademique">Anne Academique</span></dt>
          <dd>
            @if (formationInvalide.anneAcademique) {
              <div>
                <a [routerLink]="['/annee-academique', formationInvalide.anneAcademique.id, 'view']">{{
                  formationInvalide.anneAcademique.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/formation-invalide', formationInvalide.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
