
    <div id="carouselExampleFade"  class="carousel slide carousel-fade"  data-bs-ride="carousel">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>


      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">

          <!-- content slide 1 -->
              <div class="masthead" style="background-image: url('assets/image/slider-etudiant.png');">

              <div class="ms-lg-5 pt-5">
                <div class="mt-5"></div>
                <div class="d-flex flex-column justify-content-center align-items-start ps-4 ">
                  <h1 class="mb-3 w-50">Etudiant</h1>


                  <div class=" mb-3 mt-2 d-none d-lg-block w-50  ">

                    <span style="display: inline-block; width: 450px;">
                      Bienvenue sur le Système d'Information e-UGB : <br>
                      Connectez-vous en tant qu'étudiant pour accéder à toutes vos ressources éducatives en
                      un seul endroit. Gérer vos inscriptions, vos cours, vos emplois du temps et bien plus
                      encore.
                    </span>

                    <div class="mt-5 ">

                      <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                        <i class="bi bi-mortarboard me-3 ms-2" style="font-size: 2rem !important; "></i>
                        <span class="me-4 " >
                            Je suis étudiant
                        </span>
                        <i class="bi bi-caret-right"></i>
                      </a>
                    </div>

                  </div>

                  <!-- for md -->

                  <div class=" mb-3 d-none d-md-block d-lg-none  " style="width: 80%;">

                    <span>
                      Bienvenue sur le Système d'Information e-UGB : <br>
                      Connectez-vous en tant qu'étudiant pour accéder à toutes vos ressources éducatives en
                      un seul endroit. Gérer vos inscriptions, vos cours, vos emplois du temps et bien plus
                      encore.
                    </span>

                    <div class="mt-5 ">

                      <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                        <i class="bi bi-mortarboard me-3 ms-2" style="font-size: 2rem !important; "></i>
                        <span class="me-4 " >
                            Je suis étudiant
                        </span>
                        <i class="bi bi-caret-right"></i>
                      </a>
                    </div>

                  </div>


                  <!-- for sm -->

                  <div class=" mb-3 d-block d-md-none   " style="width: 90%;">


                    <span>
                      Bienvenue sur le Système d'Information e-UGB : <br>
                      Connectez-vous en tant qu'étudiant pour accéder à toutes vos ressources éducatives en
                      un seul endroit. Gérer vos inscriptions, vos cours, vos emplois du temps et bien plus
                      encore.
                    </span>


                    <div class="mt-5 ">

                      <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                        <i class="bi bi-mortarboard me-3 ms-2" style="font-size: 2rem !important; "></i>
                        <span class="me-4 " >
                            Je suis étudiant
                        </span>
                        <i class="bi bi-caret-right"></i>
                      </a>
                    </div>
                  </div>
                <div>
              </div>
              </div>
              <div>
              </div>
              <div>
              </div>
          </div>
        </div>
          <!-- end content  -->

        </div>

        <!-- slide 2 personnel -->

        <div class="carousel-item" data-bs-interval="5000">
          <!-- content slide 2 -->

          <div class="masthead" style="background-image: url('assets/image/personnel_slider.png');">

            <div class="ms-lg-5 pt-5">
              <div class="mt-5"></div>
              <div class="d-flex flex-column justify-content-center align-items-start ps-4 ">
                <h1 class="mb-3 w-50">Personnel Administratif Technique et de Service </h1>


                <div class=" mb-3 mt-2 d-none d-lg-block w-50  ">

                  <span style="display: inline-block; width: 450px;">
                    Bienvenue sur le Système d'Information e-UGB : <br>
                    Connectez-vous en tant que PATS pour accéder à toutes vos ressources administratives
                    en un seul endroit. Gérer vos documents, vos processus administratifs et bien plus encore.
                  </span>

                  <div class="mt-5 ">

                    <a [href]="getUrl(realm_pats,clientId)" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                      <i class="bi bi-person-fill me-3 ms-2" style="font-size: 2rem !important; "></i>
                      <span class="me-4 " >
                          Je suis PATS
                      </span>
                      <i class="bi bi-caret-right"></i>
                    </a>
                  </div>

                </div>

                <!-- for md -->

                <div class=" mb-3 d-none d-md-block d-lg-none  " style="width: 80%;">

                  <span>
                    Bienvenue sur le Système d'Information e-UGB : <br>
                    Connectez-vous en tant que PATS pour accéder à toutes vos ressources administratives
                    en un seul endroit. Gérer vos documents, vos processus administratifs et bien plus encore.
                  </span>

                  <div class="mt-5 ">

                    <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                      <i class="bi bi-person-fill me-3 ms-2" style="font-size: 2rem !important; "></i>
                      <span class="me-4 " >
                          Je suis PATS
                      </span>
                      <i class="bi bi-caret-right"></i>
                    </a>
                  </div>


                </div>


                <!-- for sm -->

                <div class=" mb-3 d-block d-md-none   " style="width: 90%;">


                  <span>
                    Bienvenue sur le Système d'Information e-UGB : <br>
                    Connectez-vous en tant que PATS pour accéder à toutes vos ressources administratives
                    en un seul endroit. Gérer vos documents, vos processus administratifs et bien plus encore.
                  </span>


                  <div class="mt-5 ">

                    <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                      <i class="bi bi-person-fill me-3 ms-2" style="font-size: 2rem !important; "></i>
                      <span class="me-4 " >
                          Je suis PATS
                      </span>
                      <i class="bi bi-caret-right"></i>
                    </a>
                  </div>
                </div>
              <div>
            </div>


            </div>

              <div>

            </div>

              <div>

            </div>
        </div>


        </div>

        <!-- end content  -->

        </div>

        <!-- slide 3 enseignant -->
        <div class="carousel-item" data-bs-interval="5000">

          <!-- content slide 3 -->

          <div class="masthead" style="background-image: url('assets/image/enseignant_slider.png');">

            <div class="ms-lg-5 pt-5">
              <div class="mt-5"></div>
              <div class="d-flex flex-column justify-content-center align-items-start ps-4 ">
                <h1 class="mb-3 w-50">Personnel Enseignant et de Recherche</h1>


                <div class=" mb-3 mt-2 d-none d-lg-block w-50  ">

                  <span style="display: inline-block; width: 450px;">
                    Bienvenue sur le Système d'Information e-UGB : <br>
                    Connectez-vous en tant que PER pour accéder à toutes vos ressources pédagogiques en
                    un seul endroit. Gérer vos cours, vos notes, vos emplois du temps, vos délibérations et
                    bien plus encore.
                  </span>

                  <div class="mt-5 ">

                    <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                      <i class="bi bi-shield-fill-check me-3 ms-2" style="font-size: 2rem !important; "></i>
                      <span class="me-4 " >
                          Je suis enseignant
                      </span>
                      <i class="bi bi-caret-right"></i>
                    </a>
                  </div>

                </div>

                <!-- for md -->

                <div class=" mb-3 d-none d-md-block d-lg-none  " style="width: 80%;">

                  <span>
                    Bienvenue sur le Système d'Information e-UGB : <br>
                    Connectez-vous en tant que PER pour accéder à toutes vos ressources pédagogiques en
                    un seul endroit. Gérer vos cours, vos notes, vos emplois du temps, vos délibérations et
                    bien plus encore.
                  </span>

                  <div class="mt-5 ">

                    <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                      <i class="bi bi-shield-fill-check me-3 ms-2" style="font-size: 2rem !important; "></i>
                      <span class="me-4 " >
                          Je suis enseignant
                      </span>
                      <i class="bi bi-caret-right"></i>
                    </a>
                  </div>


                </div>


                <!-- for sm -->

                <div class=" mb-3 d-block d-md-none   " style="width: 90%;">


                  <span>
                    Bienvenue sur le Système d'Information e-UGB : <br>
                    Connectez-vous en tant que PER pour accéder à toutes vos ressources pédagogiques en
                    un seul endroit. Gérer vos cours, vos notes, vos emplois du temps, vos délibérations et
                    bien plus encore.
                  </span>


                  <div class="mt-5 ">

                    <a href="" class="btn cButton  text-white  d-flex justify-content-center align-items-center " >
                      <i class="bi bi-shield-fill-check me-3 ms-2" style="font-size: 2rem !important; "></i>
                      <span class="me-4 " >
                          Je suis enseignant
                      </span>
                      <i class="bi bi-caret-right"></i>
                    </a>
                  </div>



                </div>



              <div>
            </div>


            </div>

            <div>

            </div>

            <div>

            </div>
        </div>


        </div>



          <!-- end content -->



        </div>
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>


