<div>
  <h2 id="page-heading" data-cy="DisciplineSportiveEtudiantHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.home.title">Discipline Sportive Etudiants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-discipline-sportive-etudiant"
        [routerLink]="['/microservicegir/discipline-sportive-etudiant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.home.createLabel"
          >Create a new Discipline Sportive Etudiant</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (disciplineSportiveEtudiants?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.home.notFound"
        >No Discipline Sportive Etudiants found</span
      >
    </div>
  }

  @if (disciplineSportiveEtudiants && disciplineSportiveEtudiants.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="licenceSportiveYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.licenceSportiveYN"
                  >Licence Sportive YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="competitionUGBYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.competitionUGBYN">Competition UGBYN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disciplineSportive.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.disciplineSportive"
                  >Discipline Sportive</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etudiant.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirDisciplineSportiveEtudiant.etudiant">Etudiant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (disciplineSportiveEtudiant of disciplineSportiveEtudiants; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/discipline-sportive-etudiant', disciplineSportiveEtudiant.id, 'view']">{{
                  disciplineSportiveEtudiant.id
                }}</a>
              </td>
              <td>{{ disciplineSportiveEtudiant.licenceSportiveYN }}</td>
              <td>{{ disciplineSportiveEtudiant.competitionUGBYN }}</td>
              <td>
                @if (disciplineSportiveEtudiant.disciplineSportive) {
                  <div>
                    <a [routerLink]="['/microservicegir/discipline-sportive', disciplineSportiveEtudiant.disciplineSportive.id, 'view']">{{
                      disciplineSportiveEtudiant.disciplineSportive.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (disciplineSportiveEtudiant.etudiant) {
                  <div>
                    <a [routerLink]="['/microservicegir/etudiant', disciplineSportiveEtudiant.etudiant.id, 'view']">{{
                      disciplineSportiveEtudiant.etudiant.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/discipline-sportive-etudiant', disciplineSportiveEtudiant.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/discipline-sportive-etudiant', disciplineSportiveEtudiant.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(disciplineSportiveEtudiant)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (disciplineSportiveEtudiants && disciplineSportiveEtudiants.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
