<div>
  <h2 id="page-heading" data-cy="InscriptionAdministrativeFormationHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.title"
      >Inscription Administrative Formations</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscription-administrative-formation"
        [routerLink]="['/microservicegir/inscription-administrative-formation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.createLabel"
          >Create a new Inscription Administrative Formation</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (inscriptionAdministrativeFormations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.notFound"
        >No Inscription Administrative Formations found</span
      >
    </div>
  }

  @if (inscriptionAdministrativeFormations && inscriptionAdministrativeFormations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inscriptionPrincipaleYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.inscriptionPrincipaleYN"
                  >Inscription Principale YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inscriptionAnnuleeYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.inscriptionAnnuleeYN"
                  >Inscription Annulee YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paiementFraisOblYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.paiementFraisOblYN"
                  >Paiement Frais Obl YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paiementFraisIntegergYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.paiementFraisIntegergYN"
                  >Paiement Frais Integerg YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="certificatDelivreYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.certificatDelivreYN"
                  >Certificat Delivre YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateChoixFormation">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.dateChoixFormation"
                  >Date Choix Formation</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateValidationInscription">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.dateValidationInscription"
                  >Date Validation Inscription</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="inscriptionAdministrative.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.inscriptionAdministrative"
                  >Inscription Administrative</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formation.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.formation">Formation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (inscriptionAdministrativeFormation of inscriptionAdministrativeFormations; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="['/microservicegir/inscription-administrative-formation', inscriptionAdministrativeFormation.id, 'view']"
                  >{{ inscriptionAdministrativeFormation.id }}</a
                >
              </td>
              <td>{{ inscriptionAdministrativeFormation.inscriptionPrincipaleYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.inscriptionAnnuleeYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.paiementFraisOblYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.paiementFraisIntegergYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.certificatDelivreYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.dateChoixFormation | formatMediumDatetime }}</td>
              <td>{{ inscriptionAdministrativeFormation.dateValidationInscription | formatMediumDatetime }}</td>
              <td>
                @if (inscriptionAdministrativeFormation.inscriptionAdministrative) {
                  <div>
                    <a
                      [routerLink]="[
                        '/microservicegir/inscription-administrative',
                        inscriptionAdministrativeFormation.inscriptionAdministrative.id,
                        'view'
                      ]"
                      >{{ inscriptionAdministrativeFormation.inscriptionAdministrative.id }}</a
                    >
                  </div>
                }
              </td>
              <td>
                @if (inscriptionAdministrativeFormation.formation) {
                  <div>
                    <a [routerLink]="['/microservicegir/formation', inscriptionAdministrativeFormation.formation.id, 'view']">{{
                      inscriptionAdministrativeFormation.formation.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/inscription-administrative-formation', inscriptionAdministrativeFormation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/inscription-administrative-formation', inscriptionAdministrativeFormation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(inscriptionAdministrativeFormation)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (inscriptionAdministrativeFormations && inscriptionAdministrativeFormations.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
