<div class="d-flex  flex-column">

  <!-- img side -->
  <div class="d-flex justify-content-center">
    <img [src]="'assets/images/'+nomImage" alt="">
  </div>
  <!-- action side -->
  <div class="d-flex flex-start mt-4 ">

    <div class="row ">



      <!-- update description -->
      <div class="d-flex mb-3">
        <span class=" p-2 ">
          <i class="bi bi-pen-fill  border border-primary  text-primary rounded cp" ></i>
        </span>
        <span>
          <span class="fw-bold">Mis a jour</span> <br/>
        consectetur. Cursus enim accumsan ut rhoncus cursus sed odio. Lobortis venenatis morbi feugiat sit. Amet velit aenean felis
        </span>
      </div>


      <!-- view description -->
      <div class="d-flex mb-3">
        <span class=" p-2 ">
          <i class="bi bi-eye-fill  border border-orange  text-orange rounded cp" ></i>
        </span>
        <span>
          <span class="fw-bold">Voir details</span> <br/>
        consectetur. Cursus enim accumsan ut rhoncus cursus sed odio. Lobortis venenatis morbi feugiat sit. Amet velit aenean felis
        </span>
      </div>

      <!-- delete description -->
      <div class="d-flex mb-3">
        <span class=" p-2 ">
          <i class="bi bi-x-lg  border border-danger  text-danger rounded cp"></i>
        </span>
        <span>
          <span class="fw-bold">Suprimer element</span> <br/>
        consectetur. Cursus enim accumsan ut rhoncus cursus sed odio. Lobortis venenatis morbi feugiat sit. Amet velit aenean felis
        </span>
      </div>

    </div>


  </div>

</div>
