<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (typeOperation) {
      <div>
        <h2 data-cy="typeOperationDetailsHeading">
          <span ugbTranslate="microserviceGirApp.microserviceGirTypeOperation.detail.title">Type Operation</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ typeOperation.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirTypeOperation.libelleTypeOperation">Libelle Type Operation</span></dt>
          <dd>
            <span>{{ typeOperation.libelleTypeOperation }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/type-operation', typeOperation.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
