<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-inscription-administrative-heading"
        data-cy="InscriptionAdministrativeCreateUpdateHeading"
        jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.home.createOrEditLabel"
      >
        Create or edit a Inscription Administrative
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.nouveauInscritYN"
            for="field_nouveauInscritYN"
            >Nouveau Inscrit YN</label
          >
          <input
            type="number"
            class="form-control"
            name="nouveauInscritYN"
            id="field_nouveauInscritYN"
            data-cy="nouveauInscritYN"
            formControlName="nouveauInscritYN"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.repriseYN"
            for="field_repriseYN"
            >Reprise YN</label
          >
          <input type="number" class="form-control" name="repriseYN" id="field_repriseYN" data-cy="repriseYN" formControlName="repriseYN" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.autoriseYN"
            for="field_autoriseYN"
            >Autorise YN</label
          >
          <input
            type="number"
            class="form-control"
            name="autoriseYN"
            id="field_autoriseYN"
            data-cy="autoriseYN"
            formControlName="autoriseYN"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.ordreInscription"
            for="field_ordreInscription"
            >Ordre Inscription</label
          >
          <input
            type="number"
            class="form-control"
            name="ordreInscription"
            id="field_ordreInscription"
            data-cy="ordreInscription"
            formControlName="ordreInscription"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.typeAdmission"
            for="field_typeAdmission"
            >Type Admission</label
          >
          <select
            class="form-control"
            id="field_typeAdmission"
            data-cy="typeAdmission"
            name="typeAdmission"
            formControlName="typeAdmission"
            [compareWith]="compareTypeAdmission"
          >
            <option [ngValue]="null"></option>
            @for (typeAdmissionOption of typeAdmissionsSharedCollection; track $index) {
              <option [ngValue]="typeAdmissionOption">{{ typeAdmissionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.anneeAcademique"
            for="field_anneeAcademique"
            >Annee Academique</label
          >
          <select
            class="form-control"
            id="field_anneeAcademique"
            data-cy="anneeAcademique"
            name="anneeAcademique"
            formControlName="anneeAcademique"
            [compareWith]="compareAnneeAcademique"
          >
            <option [ngValue]="null"></option>
            @for (anneeAcademiqueOption of anneeAcademiquesSharedCollection; track $index) {
              <option [ngValue]="anneeAcademiqueOption">{{ anneeAcademiqueOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirInscriptionAdministrative.etudiant" for="field_etudiant"
            >Etudiant</label
          >
          <select
            class="form-control"
            id="field_etudiant"
            data-cy="etudiant"
            name="etudiant"
            formControlName="etudiant"
            [compareWith]="compareEtudiant"
          >
            <option [ngValue]="null"></option>
            @for (etudiantOption of etudiantsSharedCollection; track $index) {
              <option [ngValue]="etudiantOption">{{ etudiantOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
