<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (serie) {
      <div>
        <h2 data-cy="serieDetailsHeading"><span jhiTranslate="microserviceGirApp.microserviceGirSerie.detail.title">Serie</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ serie.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSerie.codeSerie">Code Serie</span></dt>
          <dd>
            <span>{{ serie.codeSerie }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSerie.libelleSerie">Libelle Serie</span></dt>
          <dd>
            <span>{{ serie.libelleSerie }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSerie.sigleSerie">Sigle Serie</span></dt>
          <dd>
            <span>{{ serie.sigleSerie }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/serie', serie.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
