// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

$bleu: #3588B2;
$marron-fonce: #B25F35;
$marron-clair: #D8843B;
$orange: #F1B33C;

$background: #F3F6F7;
$success: #198754;
$warning: #FFC107;

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

//Personalisation du navbar
.bg-dark-gradient {
  background-color: white;
  background-image: none !important;
}


.sidebar-nav {
  .nav-link {
    color: rgb(27, 27, 27);
    .nav-icon {
      color: rgb(27, 27, 27) ;
    }
  }
  .nav-link:hover {
    color: rgb(80, 80, 80);
    background-color: #b25f3528 ;

    .nav-icon {
      color: rgb(80, 80, 80) ;
    }
  }
  .nav-link.active {
    color: white;
    font-weight: 500;
    background-color: $marron-fonce;

    .nav-icon {
      color: white;
    }
  }

  .nav-group-toggle::after {

    background-color: rgb(0, 0, 0) !important;
  }

  .nav-group.show .nav-group-toggle {
    color: rgb(27, 27, 27);
  }
}

.sidebar-toggler {
  --cui-sidebar-toggler-color: rgb(46, 46, 46);
}

.header {
  min-height: calc(4rem + 1px);

  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 10px !important;
}

.breadcrumb span{
  color: rgb(255, 255, 255);
}

.breadcrumb a{
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255);
}


.card {
  box-shadow:  0px 10px 50px rgba(5, 5, 5, 0.048) !important;
}

.dropdown-menu, .footer, .sidebar {
  box-shadow: rgba(0, 0, 0, 0.02) 0 2px 5px -1px, rgba(0, 0, 0, 0.05) 0 1px 3px -1px;
}




