/* You can add global styles to this file, and also import other style files */
// Import CoreUI functions
@import "@coreui/coreui-pro/scss/functions";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

// If you want to override variables do it here
@import "variables";
@import "variables-dark";

// Import styles with default layout.
@import "@coreui/coreui-pro/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";



@font-face {
	font-family: 'Montserrat';
	src: url('./font/Montserrat-Regular.otf');
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('./font/Montserrat-Medium.otf');
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('./font/Montserrat-SemiBold.otf');
}

@font-face {
	font-family: 'Montserrat ExtraBold';
	src: url('./font/Montserrat-ExtraBold.otf');
}

@font-face {
	font-family: 'Montserrat light';
	src: url('./font/Montserrat-Light.otf');
}


*{
	font-family: 'Montserrat light';
}
