/* You can add global styles to this file, and also import other style files */
// Import CoreUI functions
@import "@coreui/coreui-pro/scss/functions";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

// If you want to override variables do it here
@import "variables";
@import "variables-dark";

// Import styles with default layout.
@import "@coreui/coreui-pro/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";



@font-face {
	font-family: 'Montserrat';
	src: url('./font/Montserrat-Regular.otf');
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('./font/Montserrat-Medium.otf');
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('./font/Montserrat-SemiBold.otf');
}

@font-face {
	font-family: 'Montserrat ExtraBold';
	src: url('./font/Montserrat-ExtraBold.otf');
}

@font-face {
	font-family: 'Montserrat light';
	src: url('./font/Montserrat-Light.otf');
}


*{
	font-family: 'Montserrat light';
}


.sidebar-nav .nav-group .nav-group-items {
	padding: var(--cui-sidebar-nav-group-items-padding-y) var(--cui-sidebar-nav-group-items-padding-x);
	overflow: hidden;
	transition: height 0.15s ease;
	margin-left: 20px;
	border-left: 1px solid #3588B2;
}
  
  
.sidebar-nav > .nav-item > .nav-link > svg , .sidebar-nav > .nav-group > .nav-link > svg {
	display: none;
	width: 0px !important;
	margin: 0px !important;
}

.sidebar-nav > .nav-item > .nav-link , .sidebar-nav > .nav-group > .nav-link {
	font-family: 'Montserrat ExtraBold' !important;
}

.nav-underline-border .nav-link {
    margin-left: 10px;
}

.nav-underline-border .nav-link.active, .nav-underline-border .show > .nav-link {
    font-family: 'Montserrat SemiBold';
}


  
  