<div>
  <h2 id="page-heading" data-cy="InformationPersonnelleHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.home.title">Information Personnelles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-information-personnelle"
        [routerLink]="['/microservicegir/information-personnelle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.home.createLabel"
          >Create a new Information Personnelle</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (informationPersonnelles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.home.notFound">No Information Personnelles found</span>
    </div>
  }

  @if (informationPersonnelles && informationPersonnelles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomEtu">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.nomEtu">Nom Etu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomJeuneFilleEtu">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.nomJeuneFilleEtu">Nom Jeune Fille Etu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenomEtu">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.prenomEtu">Prenom Etu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statutMarital">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.statutMarital">Statut Marital</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="regime">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.regime">Regime</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profession">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.profession">Profession</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresseEtu">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.adresseEtu">Adresse Etu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telEtu">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.telEtu">Tel Etu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emailEtu">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.emailEtu">Email Etu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresseParent">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.adresseParent">Adresse Parent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telParent">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.telParent">Tel Parent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emailParent">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.emailParent">Email Parent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomParent">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.nomParent">Nom Parent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenomParent">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.prenomParent">Prenom Parent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="handicapYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.handicapYN">Handicap YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="photo">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.photo">Photo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordiPersoYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.ordiPersoYN">Ordi Perso YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="derniereModification">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.derniereModification"
                  >Derniere Modification</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emailUser">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.emailUser">Email User</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etudiant.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.etudiant">Etudiant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeHandique.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.typeHandique">Type Handique</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeBourse.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.typeBourse">Type Bourse</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (informationPersonnelle of informationPersonnelles; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/information-personnelle', informationPersonnelle.id, 'view']">{{
                  informationPersonnelle.id
                }}</a>
              </td>
              <td>{{ informationPersonnelle.nomEtu }}</td>
              <td>{{ informationPersonnelle.nomJeuneFilleEtu }}</td>
              <td>{{ informationPersonnelle.prenomEtu }}</td>
              <td>{{ informationPersonnelle.statutMarital }}</td>
              <td>{{ informationPersonnelle.regime }}</td>
              <td>{{ informationPersonnelle.profession }}</td>
              <td>{{ informationPersonnelle.adresseEtu }}</td>
              <td>{{ informationPersonnelle.telEtu }}</td>
              <td>{{ informationPersonnelle.emailEtu }}</td>
              <td>{{ informationPersonnelle.adresseParent }}</td>
              <td>{{ informationPersonnelle.telParent }}</td>
              <td>{{ informationPersonnelle.emailParent }}</td>
              <td>{{ informationPersonnelle.nomParent }}</td>
              <td>{{ informationPersonnelle.prenomParent }}</td>
              <td>{{ informationPersonnelle.handicapYN }}</td>
              <td>{{ informationPersonnelle.photo }}</td>
              <td>{{ informationPersonnelle.ordiPersoYN }}</td>
              <td>{{ informationPersonnelle.derniereModification | formatMediumDate }}</td>
              <td>{{ informationPersonnelle.emailUser }}</td>
              <td>
                @if (informationPersonnelle.etudiant) {
                  <div>
                    <a [routerLink]="['/microservicegir/etudiant', informationPersonnelle.etudiant.id, 'view']">{{
                      informationPersonnelle.etudiant.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (informationPersonnelle.typeHandique) {
                  <div>
                    <a [routerLink]="['/microservicegir/type-handicap', informationPersonnelle.typeHandique.id, 'view']">{{
                      informationPersonnelle.typeHandique.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (informationPersonnelle.typeBourse) {
                  <div>
                    <a [routerLink]="['/microservicegir/type-bourse', informationPersonnelle.typeBourse.id, 'view']">{{
                      informationPersonnelle.typeBourse.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/information-personnelle', informationPersonnelle.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/information-personnelle', informationPersonnelle.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(informationPersonnelle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (informationPersonnelles && informationPersonnelles.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
