<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-enseignant-heading"
        data-cy="EnseignantCreateUpdateHeading"
        jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.home.createOrEditLabel"
      >
        Create or edit a Enseignant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.titreCoEncadreur"
            for="field_titreCoEncadreur"
            >Titre Co Encadreur</label
          >
          <input
            type="text"
            class="form-control"
            name="titreCoEncadreur"
            id="field_titreCoEncadreur"
            data-cy="titreCoEncadreur"
            formControlName="titreCoEncadreur"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.nomEnseignant" for="field_nomEnseignant"
            >Nom Enseignant</label
          >
          <input
            type="text"
            class="form-control"
            name="nomEnseignant"
            id="field_nomEnseignant"
            data-cy="nomEnseignant"
            formControlName="nomEnseignant"
          />
          @if (editForm.get('nomEnseignant')!.invalid && (editForm.get('nomEnseignant')!.dirty || editForm.get('nomEnseignant')!.touched)) {
            <div>
              @if (editForm.get('nomEnseignant')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.prenomEnseignant"
            for="field_prenomEnseignant"
            >Prenom Enseignant</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomEnseignant"
            id="field_prenomEnseignant"
            data-cy="prenomEnseignant"
            formControlName="prenomEnseignant"
          />
          @if (
            editForm.get('prenomEnseignant')!.invalid &&
            (editForm.get('prenomEnseignant')!.dirty || editForm.get('prenomEnseignant')!.touched)
          ) {
            <div>
              @if (editForm.get('prenomEnseignant')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.emailEnseignant" for="field_emailEnseignant"
            >Email Enseignant</label
          >
          <input
            type="text"
            class="form-control"
            name="emailEnseignant"
            id="field_emailEnseignant"
            data-cy="emailEnseignant"
            formControlName="emailEnseignant"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.telephoneEnseignant"
            for="field_telephoneEnseignant"
            >Telephone Enseignant</label
          >
          <input
            type="text"
            class="form-control"
            name="telephoneEnseignant"
            id="field_telephoneEnseignant"
            data-cy="telephoneEnseignant"
            formControlName="telephoneEnseignant"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.titresId" for="field_titresId"
            >Titres Id</label
          >
          <input type="number" class="form-control" name="titresId" id="field_titresId" data-cy="titresId" formControlName="titresId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.numeroPoste" for="field_numeroPoste"
            >Numero Poste</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroPoste"
            id="field_numeroPoste"
            data-cy="numeroPoste"
            formControlName="numeroPoste"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGrhApp.microserviceGrhEnseignant.photoEnseignant" for="field_photoEnseignant"
            >Photo Enseignant</label
          >
          <div>
            @if (editForm.get('photoEnseignant')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('photoEnseignant')!.value!, editForm.get('photoEnseignantContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('photoEnseignantContentType')!.value }}, {{ byteSize(editForm.get('photoEnseignant')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ photoEnseignant: undefined, photoEnseignantContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_photoEnseignant"
              data-cy="photoEnseignant"
              (change)="setFileData($event, 'photoEnseignant', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="photoEnseignant"
            id="field_photoEnseignant"
            data-cy="photoEnseignant"
            formControlName="photoEnseignant"
          />
          <input
            type="hidden"
            class="form-control"
            name="photoEnseignantContentType"
            id="field_photoEnseignantContentType"
            formControlName="photoEnseignantContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
