<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-rapport-heading"
        data-cy="RapportCreateUpdateHeading"
        jhiTranslate="microserviceGdApp.microserviceGdRapport.home.createOrEditLabel"
      >
        Create or edit a Rapport
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGdApp.microserviceGdRapport.libelleRapport" for="field_libelleRapport"
            >Libelle Rapport</label
          >
          <input
            type="text"
            class="form-control"
            name="libelleRapport"
            id="field_libelleRapport"
            data-cy="libelleRapport"
            formControlName="libelleRapport"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGdApp.microserviceGdRapport.descriptionRapport" for="field_descriptionRapport"
            >Description Rapport</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionRapport"
            id="field_descriptionRapport"
            data-cy="descriptionRapport"
            formControlName="descriptionRapport"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGdApp.microserviceGdRapport.contenuRapport" for="field_contenuRapport"
            >Contenu Rapport</label
          >
          <input
            type="text"
            class="form-control"
            name="contenuRapport"
            id="field_contenuRapport"
            data-cy="contenuRapport"
            formControlName="contenuRapport"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGdApp.microserviceGdRapport.dateRedaction" for="field_dateRedaction"
            >Date Redaction</label
          >
          <div class="d-flex">
            <input
              id="field_dateRedaction"
              data-cy="dateRedaction"
              type="datetime-local"
              class="form-control"
              name="dateRedaction"
              formControlName="dateRedaction"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
