<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (enseignement) {
      <div>
        <h2 data-cy="enseignementDetailsHeading">
          <span ugbTranslate="microserviceEnseignementApp.microserviceEnseignementEnseignement.detail.title">Enseignement</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ enseignement.id }}</span>
          </dd>
          <dt>
            <span ugbTranslate="microserviceEnseignementApp.microserviceEnseignementEnseignement.libelleEnseignements"
              >Libelle Enseignements</span
            >
          </dt>
          <dd>
            <span>{{ enseignement.libelleEnseignements }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceEnseignementApp.microserviceEnseignementEnseignement.volumeHoraire">Volume Horaire</span></dt>
          <dd>
            <span>{{ enseignement.volumeHoraire }}</span>
          </dd>
          <dt>
            <span ugbTranslate="microserviceEnseignementApp.microserviceEnseignementEnseignement.nombreInscrits">Nombre Inscrits</span>
          </dt>
          <dd>
            <span>{{ enseignement.nombreInscrits }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceEnseignementApp.microserviceEnseignementEnseignement.groupeYN">Groupe YN</span></dt>
          <dd>
            <span>{{ enseignement.groupeYN }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microserviceenseignement/enseignement', enseignement.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
