<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span ugbTranslate="global.title" class="navbar-title">MicroserviceGIR</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span ugbTranslate="global.menu.home">Accueil</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        @if (account !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <span>
                <fa-icon icon="th-list"></fa-icon>
                <span ugbTranslate="global.menu.entities.main">Entités</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/etudiant"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirEtudiant">Etudiant</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/paiement-formation-privee"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirPaiementFormationPrivee">Paiement Formation Privee</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/information-personnelle"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirInformationPersonnelle">Information Personnelle</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/formation-privee"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirFormationPrivee">Formation Privee</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-handicap"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeHandicap">Type Handicap</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-bourse"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeBourse">Type Bourse</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/region"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirRegion">Region</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/pays"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirPays">Pays</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/zone"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirZone">Zone</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/lycee"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirLycee">Lycee</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/baccalaureat"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirBaccalaureat">Baccalaureat</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/serie"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirSerie">Serie</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-selection"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeSelection">Type Selection</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-admission"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeAdmission">Type Admission</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/discipline-sportive-etudiant"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirDisciplineSportiveEtudiant">Discipline Sportive Etudiant</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/discipline-sportive"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirDisciplineSportive">Discipline Sportive</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/annee-academique"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirAnneeAcademique">Annee Academique</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/programmation-inscription"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirProgrammationInscription">Programmation Inscription</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/inscription-administrative"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirInscriptionAdministrative">Inscription Administrative</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/inscription-administrative-formation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirInscriptionAdministrativeFormation"
                    >Inscription Administrative Formation</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/information-image"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirInformationImage">Information Image</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/processus-inscription-administrative"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirProcessusInscriptionAdministrative"
                    >Processus Inscription Administrative</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/operation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirOperation">Operation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-operation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeOperation">Type Operation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/cycle"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirCycle">Cycle</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-formation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeFormation">Type Formation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/specialite"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirSpecialite">Specialite</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/niveau"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirNiveau">Niveau</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/formation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirFormation">Formation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/formation-autorisee"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirFormationAutorisee">Formation Autorisee</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/formation-invalide"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirFormationInvalide">Formation Invalide</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/mention"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirMention">Mention</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/domaine"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirDomaine">Domaine</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/ufr"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirUfr">Ufr</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/frais"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirFrais">Frais</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/type-frais"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirTypeFrais">Type Frais</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/paiement-frais"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirPaiementFrais">Paiement Frais</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/operateur"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirOperateur">Operateur</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/campagne"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirCampagne">Campagne</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/inscription-doctorat"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirInscriptionDoctorat">Inscription Doctorat</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/doctorat"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirDoctorat">Doctorat</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/universite"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirUniversite">Universite</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/ministere"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirMinistere">Ministere</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/microservicegir/departement"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.entities.microserviceGirDepartement">Departement</span>
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *ugbHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span ugbTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag"></fa-icon>
                <span ugbTranslate="global.menu.language">Langue</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [ugbActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            @if (!account?.imageUrl) {
              <span>
                <fa-icon icon="user"></fa-icon>
                <span ugbTranslate="global.menu.account.main">Compte</span>
              </span>
            } @else {
              <span>
                <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (account !== null) {
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.account.logout">Déconnexion</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span ugbTranslate="global.menu.account.login">S&apos;authentifier</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
