<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ugb-information-personnelle-heading"
        data-cy="InformationPersonnelleCreateUpdateHeading"
        ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.home.createOrEditLabel"
      >
        Créer ou éditer un Information Personnelle
      </h2>

      <div>
        <ugb-alert-error></ugb-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" ugbTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.nomEtu" for="field_nomEtu"
            >Nom Etu</label
          >
          <input type="text" class="form-control" name="nomEtu" id="field_nomEtu" data-cy="nomEtu" formControlName="nomEtu" />
          @if (editForm.get('nomEtu')!.invalid && (editForm.get('nomEtu')!.dirty || editForm.get('nomEtu')!.touched)) {
            <div>
              @if (editForm.get('nomEtu')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.nomJeuneFilleEtu"
            for="field_nomJeuneFilleEtu"
            >Nom Jeune Fille Etu</label
          >
          <input
            type="text"
            class="form-control"
            name="nomJeuneFilleEtu"
            id="field_nomJeuneFilleEtu"
            data-cy="nomJeuneFilleEtu"
            formControlName="nomJeuneFilleEtu"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.prenomEtu" for="field_prenomEtu"
            >Prenom Etu</label
          >
          <input type="text" class="form-control" name="prenomEtu" id="field_prenomEtu" data-cy="prenomEtu" formControlName="prenomEtu" />
          @if (editForm.get('prenomEtu')!.invalid && (editForm.get('prenomEtu')!.dirty || editForm.get('prenomEtu')!.touched)) {
            <div>
              @if (editForm.get('prenomEtu')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.statutMarital"
            for="field_statutMarital"
            >Statut Marital</label
          >
          <input
            type="text"
            class="form-control"
            name="statutMarital"
            id="field_statutMarital"
            data-cy="statutMarital"
            formControlName="statutMarital"
          />
          @if (editForm.get('statutMarital')!.invalid && (editForm.get('statutMarital')!.dirty || editForm.get('statutMarital')!.touched)) {
            <div>
              @if (editForm.get('statutMarital')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.regime" for="field_regime"
            >Regime</label
          >
          <input type="number" class="form-control" name="regime" id="field_regime" data-cy="regime" formControlName="regime" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.profession"
            for="field_profession"
            >Profession</label
          >
          <input
            type="text"
            class="form-control"
            name="profession"
            id="field_profession"
            data-cy="profession"
            formControlName="profession"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.adresseEtu"
            for="field_adresseEtu"
            >Adresse Etu</label
          >
          <input
            type="text"
            class="form-control"
            name="adresseEtu"
            id="field_adresseEtu"
            data-cy="adresseEtu"
            formControlName="adresseEtu"
          />
          @if (editForm.get('adresseEtu')!.invalid && (editForm.get('adresseEtu')!.dirty || editForm.get('adresseEtu')!.touched)) {
            <div>
              @if (editForm.get('adresseEtu')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.telEtu" for="field_telEtu"
            >Tel Etu</label
          >
          <input type="text" class="form-control" name="telEtu" id="field_telEtu" data-cy="telEtu" formControlName="telEtu" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.emailEtu" for="field_emailEtu"
            >Email Etu</label
          >
          <input type="text" class="form-control" name="emailEtu" id="field_emailEtu" data-cy="emailEtu" formControlName="emailEtu" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.adresseParent"
            for="field_adresseParent"
            >Adresse Parent</label
          >
          <input
            type="text"
            class="form-control"
            name="adresseParent"
            id="field_adresseParent"
            data-cy="adresseParent"
            formControlName="adresseParent"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.telParent" for="field_telParent"
            >Tel Parent</label
          >
          <input type="text" class="form-control" name="telParent" id="field_telParent" data-cy="telParent" formControlName="telParent" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.emailParent"
            for="field_emailParent"
            >Email Parent</label
          >
          <input
            type="text"
            class="form-control"
            name="emailParent"
            id="field_emailParent"
            data-cy="emailParent"
            formControlName="emailParent"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.nomParent" for="field_nomParent"
            >Nom Parent</label
          >
          <input type="text" class="form-control" name="nomParent" id="field_nomParent" data-cy="nomParent" formControlName="nomParent" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.prenomParent"
            for="field_prenomParent"
            >Prenom Parent</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomParent"
            id="field_prenomParent"
            data-cy="prenomParent"
            formControlName="prenomParent"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.handicapYN"
            for="field_handicapYN"
            >Handicap YN</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="handicapYN"
            id="field_handicapYN"
            data-cy="handicapYN"
            formControlName="handicapYN"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.photo" for="field_photo"
            >Photo</label
          >
          <input type="text" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.ordiPersoYN"
            for="field_ordiPersoYN"
            >Ordi Perso YN</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="ordiPersoYN"
            id="field_ordiPersoYN"
            data-cy="ordiPersoYN"
            formControlName="ordiPersoYN"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.derniereModification"
            for="field_derniereModification"
            >Derniere Modification</label
          >
          <div class="input-group">
            <input
              id="field_derniereModification"
              data-cy="derniereModification"
              type="text"
              class="form-control"
              name="derniereModification"
              ngbDatepicker
              #derniereModificationDp="ngbDatepicker"
              formControlName="derniereModification"
            />
            <button type="button" class="btn btn-secondary" (click)="derniereModificationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.emailUser" for="field_emailUser"
            >Email User</label
          >
          <input type="text" class="form-control" name="emailUser" id="field_emailUser" data-cy="emailUser" formControlName="emailUser" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.etudiant" for="field_etudiant"
            >Etudiant</label
          >
          <select
            class="form-control"
            id="field_etudiant"
            data-cy="etudiant"
            name="etudiant"
            formControlName="etudiant"
            [compareWith]="compareEtudiant"
          >
            <option [ngValue]="null"></option>
            @for (etudiantOption of etudiantsCollection; track $index) {
              <option [ngValue]="etudiantOption">{{ etudiantOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.typeHandicap"
            for="field_typeHandicap"
            >Type Handicap</label
          >
          <select
            class="form-control"
            id="field_typeHandicap"
            data-cy="typeHandicap"
            name="typeHandicap"
            formControlName="typeHandicap"
            [compareWith]="compareTypeHandicap"
          >
            <option [ngValue]="null"></option>
            @for (typeHandicapOption of typeHandicapsSharedCollection; track $index) {
              <option [ngValue]="typeHandicapOption">{{ typeHandicapOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGirApp.microserviceGirInformationPersonnelle.typeBourse"
            for="field_typeBourse"
            >Type Bourse</label
          >
          <select
            class="form-control"
            id="field_typeBourse"
            data-cy="typeBourse"
            name="typeBourse"
            formControlName="typeBourse"
            [compareWith]="compareTypeBourse"
          >
            <option [ngValue]="null"></option>
            @for (typeBourseOption of typeBoursesSharedCollection; track $index) {
              <option [ngValue]="typeBourseOption">{{ typeBourseOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ugbTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ugbTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
