<div>
  <h2 id="page-heading" data-cy="InscriptionAdministrativeFormationHeading">
    <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.title"
      >InscriptionAdministrativeFormations</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.refreshListLabel"
          >Actualiser la liste</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscription-administrative-formation"
        [routerLink]="['/microservicegir/inscription-administrative-formation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.createLabel"
          >Créer un nouveau Inscription Administrative Formation</span
        >
      </button>
    </div>
  </h2>

  <ugb-alert-error></ugb-alert-error>

  <ugb-alert></ugb-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label
          class="visually-hidden"
          for="currentSearch"
          ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.search"
          >Recherche pour Inscription Administrative Formation</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (inscriptionAdministrativeFormations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.home.notFound"
        >Aucun Inscription Administrative Formation trouvé</span
      >
    </div>
  }

  @if (inscriptionAdministrativeFormations && inscriptionAdministrativeFormations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ugbSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" ugbSortBy="id">
              <div class="d-flex">
                <span ugbTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="inscriptionPrincipaleYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.inscriptionPrincipaleYN"
                  >Inscription Principale YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="inscriptionAnnuleeYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.inscriptionAnnuleeYN"
                  >Inscription Annulee YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="exonereYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.exonereYN">Exonere YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="paiementFraisOblYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.paiementFraisOblYN"
                  >Paiement Frais Obl YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="paiementFraisIntegergYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.paiementFraisIntegergYN"
                  >Paiement Frais Integerg YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="certificatDelivreYN">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.certificatDelivreYN"
                  >Certificat Delivre YN</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="dateChoixFormation">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.dateChoixFormation"
                  >Date Choix Formation</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="dateValidationInscription">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.dateValidationInscription"
                  >Date Validation Inscription</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="inscriptionAdministrative.id">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.inscriptionAdministrative"
                  >Inscription Administrative</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="formation.id">
              <div class="d-flex">
                <span ugbTranslate="microserviceGirApp.microserviceGirInscriptionAdministrativeFormation.formation">Formation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (inscriptionAdministrativeFormation of inscriptionAdministrativeFormations; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a
                  [routerLink]="['/microservicegir/inscription-administrative-formation', inscriptionAdministrativeFormation.id, 'view']"
                  >{{ inscriptionAdministrativeFormation.id }}</a
                >
              </td>
              <td>{{ inscriptionAdministrativeFormation.inscriptionPrincipaleYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.inscriptionAnnuleeYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.exonereYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.paiementFraisOblYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.paiementFraisIntegergYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.certificatDelivreYN }}</td>
              <td>{{ inscriptionAdministrativeFormation.dateChoixFormation | formatMediumDatetime }}</td>
              <td>{{ inscriptionAdministrativeFormation.dateValidationInscription | formatMediumDatetime }}</td>
              <td>
                @if (inscriptionAdministrativeFormation.inscriptionAdministrative) {
                  <div>
                    <a
                      [routerLink]="[
                        '/microservicegir/inscription-administrative',
                        inscriptionAdministrativeFormation.inscriptionAdministrative.id,
                        'view'
                      ]"
                      >{{ inscriptionAdministrativeFormation.inscriptionAdministrative.id }}</a
                    >
                  </div>
                }
              </td>
              <td>
                @if (inscriptionAdministrativeFormation.formation) {
                  <div>
                    <a [routerLink]="['/microservicegir/formation', inscriptionAdministrativeFormation.formation.id, 'view']">{{
                      inscriptionAdministrativeFormation.formation.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/inscription-administrative-formation', inscriptionAdministrativeFormation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/inscription-administrative-formation', inscriptionAdministrativeFormation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(inscriptionAdministrativeFormation)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (inscriptionAdministrativeFormations && inscriptionAdministrativeFormations.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ugb-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></ugb-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
