<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (laboratoire) {
      <div>
        <h2 data-cy="laboratoireDetailsHeading">
          <span ugbTranslate="microserviceAuaApp.microserviceAuaLaboratoire.detail.title">Laboratoire</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ laboratoire.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceAuaApp.microserviceAuaLaboratoire.nom">Nom</span></dt>
          <dd>
            <span>{{ laboratoire.nom }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceAuaApp.microserviceAuaLaboratoire.laboratoireCotutelleYN">Laboratoire Cotutelle YN</span></dt>
          <dd>
            <span>{{ laboratoire.laboratoireCotutelleYN }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microserviceaua/laboratoire', laboratoire.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
