<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (uFR) {
      <div>
        <h2 data-cy="uFRDetailsHeading"><span jhiTranslate="microserviceGirApp.microserviceGirUFr.detail.title">UFR</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ uFR.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUFr.libeleUFR">Libele UFR</span></dt>
          <dd>
            <span>{{ uFR.libeleUFR }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUFr.sigleUFR">Sigle UFR</span></dt>
          <dd>
            <span>{{ uFR.sigleUFR }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUFr.systemeLMDYN">Systeme LMDYN</span></dt>
          <dd>
            <span>{{ uFR.systemeLMDYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUFr.ordreStat">Ordre Stat</span></dt>
          <dd>
            <span>{{ uFR.ordreStat }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirUFr.universite">Universite</span></dt>
          <dd>
            @if (uFR.universite) {
              <div>
                <a [routerLink]="['/universite', uFR.universite.id, 'view']">{{ uFR.universite.nomUniversite }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/ufr', uFR.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
