<div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <div>
        <img src="/assets/images/avatars/etudiant.png" width="150" alt="">
      </div>
      <div class="d-flex flex-column ms-4">
        

          <h4 class="text-secondary fw-bold">{{informationPersonelle.etudiant?.codeEtu}}</h4>
          <p class="fw-bold">{{informationPersonelle.prenomEtu}} {{informationPersonelle.nomEtu}}</p>
          <p> Né(e) le, {{informationPersonelle.etudiant?.dateNaissEtu | date : 'dd/MM/YYYY'}}</p>
          <p> {{informationPersonelle.etudiant?.ine}}</p>

     
        
      </div>
    </div>
    <div class="d-flex flex-row mt-3 buttons-etudiant">
      <button class="p-2 me-2 btn btn-outline-danger hover mb-xl-0 rounded-2 px-3"cButton>
        <i class="bi bi-arrow-90deg-left me-2"></i>
        Annuler Inscription
      </button>
      
      <button class="p-2 me-2 btn btn-outline-secondary  outline rounded-2 px-3" cButton>
        <i class="bi bi-power me-2"></i>
        Déclencher inscription
      </button>
      
      <button class="p-2 me-2 btn btn-outline-primary  outline  rounded-2 px-3" cButton>
        <i class="bi bi-printer-fill me-2"></i>
        Certificat
      </button>
      <button class="p-2 me-2 btn btn-outline-success  outline  rounded-2 px-3" cButton>
        <i class="bi bi-calendar3-event-fill me-2"></i>
        Carte
      </button>

    </div>


</div>