<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ugb-enseignant-heading"
        data-cy="EnseignantCreateUpdateHeading"
        ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.home.createOrEditLabel"
      >
        Créer ou éditer un Enseignant
      </h2>

      <div>
        <ugb-alert-error></ugb-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" ugbTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.titreCoEncadreur"
            for="field_titreCoEncadreur"
            >Titre Co Encadreur</label
          >
          <input
            type="text"
            class="form-control"
            name="titreCoEncadreur"
            id="field_titreCoEncadreur"
            data-cy="titreCoEncadreur"
            formControlName="titreCoEncadreur"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          @if (editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)) {
            <div>
              @if (editForm.get('nom')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          @if (editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)) {
            <div>
              @if (editForm.get('prenom')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.telephone" for="field_telephone"
            >Telephone</label
          >
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.titresId" for="field_titresId"
            >Titres Id</label
          >
          <input type="number" class="form-control" name="titresId" id="field_titresId" data-cy="titresId" formControlName="titresId" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.numeroPoste" for="field_numeroPoste"
            >Numero Poste</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroPoste"
            id="field_numeroPoste"
            data-cy="numeroPoste"
            formControlName="numeroPoste"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGrhApp.microserviceGrhEnseignant.photo" for="field_photo">Photo</label>
          <input type="text" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ugbTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ugbTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
