@if (processusInscriptionAdministrative) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(processusInscriptionAdministrative.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="processusInscriptionAdministrativeDeleteDialogHeading" ugbTranslate="entity.delete.title">
        Confirmation de suppression
      </h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <ugb-alert-error></ugb-alert-error>
      <p
        id="ugb-delete-processusInscriptionAdministrative-heading"
        ugbTranslate="microserviceGirApp.microserviceGirProcessusInscriptionAdministrative.delete.question"
        [translateValues]="{ id: processusInscriptionAdministrative.id }"
      >
        Êtes-vous certain de vouloir supprimer le Processus Inscription Administrative {{ processusInscriptionAdministrative.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span ugbTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button
        id="ugb-confirm-delete-processusInscriptionAdministrative"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-danger"
      >
        <fa-icon icon="times"></fa-icon>&nbsp;<span ugbTranslate="entity.action.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
