

.content{
    min-height: 80vh;
    .gauche{
        padding: 20px;
        height: 80vh;
        
        .list{
            width: 100%;
            height: 65vh;

        }
        
    }
    .droite{
        height: 80vh;
        overflow-y: scroll;
        
    }

}