

.content{
    min-height: 80vh;
    .gauche{
        padding: 20px;
        height: 80vh;
        overflow-y: scroll;
        
        
        
    }
    .droite{
        height: 80vh;
        overflow-y: scroll;
        
    }

}