<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-niveau-heading"
        data-cy="NiveauCreateUpdateHeading"
        jhiTranslate="microserviceGirApp.microserviceGirNiveau.home.createOrEditLabel"
      >
        Create or edit a Niveau
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirNiveau.libelleNiveau" for="field_libelleNiveau"
            >Libelle Niveau</label
          >
          <input
            type="text"
            class="form-control"
            name="libelleNiveau"
            id="field_libelleNiveau"
            data-cy="libelleNiveau"
            formControlName="libelleNiveau"
          />
          @if (editForm.get('libelleNiveau')!.invalid && (editForm.get('libelleNiveau')!.dirty || editForm.get('libelleNiveau')!.touched)) {
            <div>
              @if (editForm.get('libelleNiveau')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirNiveau.cycleNiveau" for="field_cycleNiveau"
            >Cycle Niveau</label
          >
          <select class="form-control" name="cycleNiveau" formControlName="cycleNiveau" id="field_cycleNiveau" data-cy="cycleNiveau">
            <option [ngValue]="null">{{ 'microserviceGirApp.Cycle.null' | translate }}</option>
            @for (cycle of cycleValues; track $index) {
              <option [value]="cycle">{{ 'microserviceGirApp.Cycle.' + cycle | translate }}</option>
            }
          </select>
          @if (editForm.get('cycleNiveau')!.invalid && (editForm.get('cycleNiveau')!.dirty || editForm.get('cycleNiveau')!.touched)) {
            <div>
              @if (editForm.get('cycleNiveau')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirNiveau.codeNiveau" for="field_codeNiveau"
            >Code Niveau</label
          >
          <input
            type="text"
            class="form-control"
            name="codeNiveau"
            id="field_codeNiveau"
            data-cy="codeNiveau"
            formControlName="codeNiveau"
          />
          @if (editForm.get('codeNiveau')!.invalid && (editForm.get('codeNiveau')!.dirty || editForm.get('codeNiveau')!.touched)) {
            <div>
              @if (editForm.get('codeNiveau')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirNiveau.anneeEtude" for="field_anneeEtude"
            >Annee Etude</label
          >
          <input
            type="text"
            class="form-control"
            name="anneeEtude"
            id="field_anneeEtude"
            data-cy="anneeEtude"
            formControlName="anneeEtude"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
