@import 'variables';


.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.footer a, .footer span {
    font-size: 13px;
    font-family: 'Montserrat light';
}
.copyright{
    font-size: 3rem;
}


.etudiant{
    color: $bleu;
}
.enseignant{
    color: $marron-clair;
}
.personnel{
    color: $marron-fonce;
}
.row{
    margin-right: 0px !important;
}