<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paiementFormationPrivee) {
      <div>
        <h2 data-cy="paiementFormationPriveeDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.detail.title">Paiement Formation Privee</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ paiementFormationPrivee.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.datePaiement">Date Paiement</span></dt>
          <dd>
            <span>{{ paiementFormationPrivee.datePaiement | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.moisPaiement">Mois Paiement</span></dt>
          <dd>
            <span>{{ paiementFormationPrivee.moisPaiement }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.anneePaiement">Annee Paiement</span></dt>
          <dd>
            <span>{{ paiementFormationPrivee.anneePaiement }}</span>
          </dd>
          <dt>
            <span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.payerMensualiteYN">Payer Mensualite YN</span>
          </dt>
          <dd>
            <span>{{ paiementFormationPrivee.payerMensualiteYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.payerDelaisYN">Payer Delais YN</span></dt>
          <dd>
            <span>{{ paiementFormationPrivee.payerDelaisYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.emailUser">Email User</span></dt>
          <dd>
            <span>{{ paiementFormationPrivee.emailUser }}</span>
          </dd>
          <dt>
            <span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.inscriptionAdministrativeFormation"
              >Inscription Administrative Formation</span
            >
          </dt>
          <dd>
            @if (paiementFormationPrivee.inscriptionAdministrativeFormation) {
              <div>
                <a
                  [routerLink]="[
                    '/inscription-administrative-formation',
                    paiementFormationPrivee.inscriptionAdministrativeFormation.id,
                    'view'
                  ]"
                  >{{ paiementFormationPrivee.inscriptionAdministrativeFormation.id }}</a
                >
              </div>
            }
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirPaiementFormationPrivee.operateur">Operateur</span></dt>
          <dd>
            @if (paiementFormationPrivee.operateur) {
              <div>
                <a [routerLink]="['/operateur', paiementFormationPrivee.operateur.id, 'view']">{{
                  paiementFormationPrivee.operateur.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/microservicegir/paiement-formation-privee', paiementFormationPrivee.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
