<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (deliberation) {
      <div>
        <h2 data-cy="deliberationDetailsHeading">
          <span jhiTranslate="microserviceDeliberationApp.microserviceDeliberationDeliberation.detail.title">Deliberation</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ deliberation.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceDeliberationApp.microserviceDeliberationDeliberation.estValidee">Est Validee</span></dt>
          <dd>
            <span>{{ deliberation.estValidee }}</span>
          </dd>
          <dt>
            <span jhiTranslate="microserviceDeliberationApp.microserviceDeliberationDeliberation.pvDeliberation">Pv Deliberation</span>
          </dt>
          <dd>
            @if (deliberation.pvDeliberation) {
              <div>
                <a (click)="openFile(deliberation.pvDeliberation, deliberation.pvDeliberationContentType)" jhiTranslate="entity.action.open"
                  >Open</a
                >
                {{ deliberation.pvDeliberationContentType }}, {{ byteSize(deliberation.pvDeliberation) }}
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicedeliberation/deliberation', deliberation.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
