<div>
  <h2 id="page-heading" data-cy="InfoUserRessourceHeading">
    <span ugbTranslate="gatewayApp.infoUserRessource.home.title">InfoUserRessources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ugbTranslate="gatewayApp.infoUserRessource.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-info-user-ressource"
        [routerLink]="['/info-user-ressource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" ugbTranslate="gatewayApp.infoUserRessource.home.createLabel"
          >Créer un nouveau Info User Ressource</span
        >
      </button>
    </div>
  </h2>

  <ugb-alert-error></ugb-alert-error>

  <ugb-alert></ugb-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" ugbTranslate="gatewayApp.infoUserRessource.home.search"
          >Recherche pour Info User Ressource</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.infoUserRessource.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (infoUserRessources?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span ugbTranslate="gatewayApp.infoUserRessource.home.notFound">Aucun Info User Ressource trouvé</span>
    </div>
  }

  @if (infoUserRessources && infoUserRessources.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ugbSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" ugbSortBy="id">
              <div class="d-flex">
                <span ugbTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="dateAjout">
              <div class="d-flex">
                <span ugbTranslate="gatewayApp.infoUserRessource.dateAjout">Date Ajout</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="enCoursYN">
              <div class="d-flex">
                <span ugbTranslate="gatewayApp.infoUserRessource.enCoursYN">En Cours YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="infosUser.id">
              <div class="d-flex">
                <span ugbTranslate="gatewayApp.infoUserRessource.infosUser">Infos User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" ugbSortBy="ressource.id">
              <div class="d-flex">
                <span ugbTranslate="gatewayApp.infoUserRessource.ressource">Ressource</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (infoUserRessource of infoUserRessources; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/info-user-ressource', infoUserRessource.id, 'view']">{{ infoUserRessource.id }}</a>
              </td>
              <td>{{ infoUserRessource.dateAjout | formatMediumDate }}</td>
              <td>{{ infoUserRessource.enCoursYN }}</td>
              <td>
                @if (infoUserRessource.infosUser) {
                  <div>
                    <a [routerLink]="['/infos-user', infoUserRessource.infosUser.id, 'view']">{{ infoUserRessource.infosUser.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (infoUserRessource.ressource) {
                  <div>
                    <a [routerLink]="['/ressource', infoUserRessource.ressource.id, 'view']">{{ infoUserRessource.ressource.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/info-user-ressource', infoUserRessource.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/info-user-ressource', infoUserRessource.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(infoUserRessource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" ugbTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (infoUserRessources && infoUserRessources.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <ugb-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></ugb-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
