<div>
  <h2 id="page-heading" data-cy="FormationPriveeHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.home.title">Formation Privees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formation-privee"
        [routerLink]="['/microservicegir/formation-privee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.home.createLabel">Create a new Formation Privee</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (formationPrivees?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.home.notFound">No Formation Privees found</span>
    </div>
  }

  @if (formationPrivees && formationPrivees.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreMensualites">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.nombreMensualites">Nombre Mensualites</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paiementPremierMoisYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.paiementPremierMoisYN">Paiement Premier Mois YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paiementDernierMoisYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.paiementDernierMoisYN">Paiement Dernier Mois YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fraisDossierYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.fraisDossierYN">Frais Dossier YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coutTotal">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.coutTotal">Cout Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mensualite">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.mensualite">Mensualite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formation.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirFormationPrivee.formation">Formation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (formationPrivee of formationPrivees; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/formation-privee', formationPrivee.id, 'view']">{{ formationPrivee.id }}</a>
              </td>
              <td>{{ formationPrivee.nombreMensualites }}</td>
              <td>{{ formationPrivee.paiementPremierMoisYN }}</td>
              <td>{{ formationPrivee.paiementDernierMoisYN }}</td>
              <td>{{ formationPrivee.fraisDossierYN }}</td>
              <td>{{ formationPrivee.coutTotal }}</td>
              <td>{{ formationPrivee.mensualite }}</td>
              <td>
                @if (formationPrivee.formation) {
                  <div>
                    <a [routerLink]="['/microservicegir/formation', formationPrivee.formation.id, 'view']">{{
                      formationPrivee.formation.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/formation-privee', formationPrivee.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/formation-privee', formationPrivee.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(formationPrivee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (formationPrivees && formationPrivees.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
