<div>
    <!-- give label and data ( required) , if possible his color (not required) -->
    <h3>Détails</h3> 
    @if (!loadState) {
        <div class="d-flex flex-column gap-2">
  
            <!-- display item data, label data and data -->
    
            <app-data-display label="Libellé" [data]="ufr?.libeleUfr"  ></app-data-display>
    
            <app-data-display label="Sigle" [data]="ufr?.sigleUfr"  ></app-data-display>
            <app-data-display label="Université" [data]="ufr?.universite?.sigleUniversite"  ></app-data-display>
            <app-data-display label="Systéme LMD" [data]="ufr?.systemeLMDYN | numberToString"  ></app-data-display>
            <app-data-display label="Ordre Stat" [data]="ufr?.ordreStat | numberToString"  ></app-data-display>

        </div>
    }
    <app-loader [isLoading]="loadState"></app-loader>
</div>

