<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (specialite) {
      <div>
        <h2 data-cy="specialiteDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirSpecialite.detail.title">Specialite</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ specialite.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSpecialite.nomSpecialites">Nom Specialites</span></dt>
          <dd>
            <span>{{ specialite.nomSpecialites }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSpecialite.sigleSpecialites">Sigle Specialites</span></dt>
          <dd>
            <span>{{ specialite.sigleSpecialites }}</span>
          </dd>
          <dt>
            <span jhiTranslate="microserviceGirApp.microserviceGirSpecialite.specialiteParticulierYN">Specialite Particulier YN</span>
          </dt>
          <dd>
            <span>{{ specialite.specialiteParticulierYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSpecialite.specialitesPayanteYN">Specialites Payante YN</span></dt>
          <dd>
            <span>{{ specialite.specialitesPayanteYN }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirSpecialite.mention">Mention</span></dt>
          <dd>
            @if (specialite.mention) {
              <div>
                <a [routerLink]="['/mention', specialite.mention.id, 'view']">{{ specialite.mention.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/specialite', specialite.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
