<div>
  <h2 id="page-heading" data-cy="ProgrammationInscriptionHeading">
    <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.home.title">Programmation Inscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-programmation-inscription"
        [routerLink]="['/microservicegir/programmation-inscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.home.createLabel"
          >Create a new Programmation Inscription</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (programmationInscriptions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.home.notFound"
        >No Programmation Inscriptions found</span
      >
    </div>
  }

  @if (programmationInscriptions && programmationInscriptions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleProgrammation">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.libelleProgrammation"
                  >Libelle Programmation</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDebut">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.dateDebut">Date Debut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFin">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.dateFin">Date Fin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ouvertYN">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.ouvertYN">Ouvert YN</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emailUser">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.emailUser">Email User</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anneeAcademique.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.anneeAcademique">Annee Academique</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formation.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.formation">Formation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="campagne.id">
              <div class="d-flex">
                <span jhiTranslate="microserviceGirApp.microserviceGirProgrammationInscription.campagne">Campagne</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (programmationInscription of programmationInscriptions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/microservicegir/programmation-inscription', programmationInscription.id, 'view']">{{
                  programmationInscription.id
                }}</a>
              </td>
              <td>{{ programmationInscription.libelleProgrammation }}</td>
              <td>{{ programmationInscription.dateDebut | formatMediumDate }}</td>
              <td>{{ programmationInscription.dateFin | formatMediumDate }}</td>
              <td>{{ programmationInscription.ouvertYN }}</td>
              <td>{{ programmationInscription.emailUser }}</td>
              <td>
                @if (programmationInscription.anneeAcademique) {
                  <div>
                    <a [routerLink]="['/microservicegir/annee-academique', programmationInscription.anneeAcademique.id, 'view']">{{
                      programmationInscription.anneeAcademique.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (programmationInscription.formation) {
                  <div>
                    <a [routerLink]="['/microservicegir/formation', programmationInscription.formation.id, 'view']">{{
                      programmationInscription.formation.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (programmationInscription.campagne) {
                  <div>
                    <a [routerLink]="['/microservicegir/campagne', programmationInscription.campagne.id, 'view']">{{
                      programmationInscription.campagne.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/microservicegir/programmation-inscription', programmationInscription.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/microservicegir/programmation-inscription', programmationInscription.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(programmationInscription)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (programmationInscriptions && programmationInscriptions.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
