<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ressource) {
      <div>
        <h2 data-cy="ressourceDetailsHeading">
          <span jhiTranslate="microserviceAideApp.microserviceAideRessource.detail.title">Ressource</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ressource.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceAideApp.microserviceAideRessource.nomRessource">Nom Ressource</span></dt>
          <dd>
            <span>{{ ressource.nomRessource }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceAideApp.microserviceAideRessource.descriptionRessource">Description Ressource</span></dt>
          <dd>
            <span>{{ ressource.descriptionRessource }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microserviceaide/ressource', ressource.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
