<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ugb-departement-heading"
        data-cy="DepartementCreateUpdateHeading"
        ugbTranslate="microserviceGirApp.microserviceGirDepartement.home.createOrEditLabel"
      >
        Créer ou éditer un Departement
      </h2>

      <div>
        <ugb-alert-error></ugb-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" ugbTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirDepartement.nomDepatement" for="field_nomDepatement"
            >Nom Depatement</label
          >
          <input
            type="text"
            class="form-control"
            name="nomDepatement"
            id="field_nomDepatement"
            data-cy="nomDepatement"
            formControlName="nomDepatement"
          />
          @if (editForm.get('nomDepatement')!.invalid && (editForm.get('nomDepatement')!.dirty || editForm.get('nomDepatement')!.touched)) {
            <div>
              @if (editForm.get('nomDepatement')?.errors?.required) {
                <small class="form-text text-danger" ugbTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirDepartement.actifYN" for="field_actifYN"
            >Actif YN</label
          >
          <input type="checkbox" class="form-check" name="actifYN" id="field_actifYN" data-cy="actifYN" formControlName="actifYN" />
        </div>

        <div class="mb-3">
          <label class="form-label" ugbTranslate="microserviceGirApp.microserviceGirDepartement.ufr" for="field_ufr">Ufr</label>
          <select class="form-control" id="field_ufr" data-cy="ufr" name="ufr" formControlName="ufr" [compareWith]="compareUfr">
            <option [ngValue]="null"></option>
            @for (ufrOption of ufrsSharedCollection; track $index) {
              <option [ngValue]="ufrOption">{{ ufrOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ugbTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ugbTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
