<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ministere) {
      <div>
        <h2 data-cy="ministereDetailsHeading">
          <span ugbTranslate="microserviceGirApp.microserviceGirMinistere.detail.title">Ministere</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ministere.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirMinistere.nomMinistere">Nom Ministere</span></dt>
          <dd>
            <span>{{ ministere.nomMinistere }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirMinistere.sigleMinistere">Sigle Ministere</span></dt>
          <dd>
            <span>{{ ministere.sigleMinistere }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirMinistere.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ ministere.dateDebut | formatMediumDate }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirMinistere.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ ministere.dateFin | formatMediumDate }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirMinistere.enCoursYN">En Cours YN</span></dt>
          <dd>
            <span>{{ ministere.enCoursYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirMinistere.actifYN">Actif YN</span></dt>
          <dd>
            <span>{{ ministere.actifYN }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/ministere', ministere.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
