<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (formationAutorisee) {
      <div>
        <h2 data-cy="formationAutoriseeDetailsHeading">
          <span jhiTranslate="microserviceGirApp.microserviceGirFormationAutorisee.detail.title">Formation Autorisee</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ formationAutorisee.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationAutorisee.dateDebuT">Date Debu T</span></dt>
          <dd>
            <span>{{ formationAutorisee.dateDebuT | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationAutorisee.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ formationAutorisee.dateFin | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationAutorisee.enCours">En Cours</span></dt>
          <dd>
            <span>{{ formationAutorisee.enCours }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceGirApp.microserviceGirFormationAutorisee.formation">Formation</span></dt>
          <dd>
            @for (formation of formationAutorisee.formations; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/formation', formation.id, 'view']">{{ formation.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/microservicegir/formation-autorisee', formationAutorisee.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
