<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planning) {
      <div>
        <h2 data-cy="planningDetailsHeading">
          <span jhiTranslate="microserviceEdtApp.microserviceEdtPlanning.detail.title">Planning</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ planning.id }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceEdtApp.microserviceEdtPlanning.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ planning.dateDebut | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="microserviceEdtApp.microserviceEdtPlanning.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ planning.dateFin | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/microserviceedt/planning', planning.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
