<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-paiement-frais-heading"
        data-cy="PaiementFraisCreateUpdateHeading"
        jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.home.createOrEditLabel"
      >
        Create or edit a Paiement Frais
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.datePaiement" for="field_datePaiement"
            >Date Paiement</label
          >
          <div class="input-group">
            <input
              id="field_datePaiement"
              data-cy="datePaiement"
              type="text"
              class="form-control"
              name="datePaiement"
              ngbDatepicker
              #datePaiementDp="ngbDatepicker"
              formControlName="datePaiement"
            />
            <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (editForm.get('datePaiement')!.invalid && (editForm.get('datePaiement')!.dirty || editForm.get('datePaiement')!.touched)) {
            <div>
              @if (editForm.get('datePaiement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.obligatoireYN" for="field_obligatoireYN"
            >Obligatoire YN</label
          >
          <input
            type="number"
            class="form-control"
            name="obligatoireYN"
            id="field_obligatoireYN"
            data-cy="obligatoireYN"
            formControlName="obligatoireYN"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.echeancePayeeYN"
            for="field_echeancePayeeYN"
            >Echeance Payee YN</label
          >
          <input
            type="number"
            class="form-control"
            name="echeancePayeeYN"
            id="field_echeancePayeeYN"
            data-cy="echeancePayeeYN"
            formControlName="echeancePayeeYN"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.emailUser" for="field_emailUser"
            >Email User</label
          >
          <input type="text" class="form-control" name="emailUser" id="field_emailUser" data-cy="emailUser" formControlName="emailUser" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.dateForclos" for="field_dateForclos"
            >Date Forclos</label
          >
          <div class="input-group">
            <input
              id="field_dateForclos"
              data-cy="dateForclos"
              type="text"
              class="form-control"
              name="dateForclos"
              ngbDatepicker
              #dateForclosDp="ngbDatepicker"
              formControlName="dateForclos"
            />
            <button type="button" class="btn btn-secondary" (click)="dateForclosDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.forclosYN" for="field_forclosYN"
            >Forclos YN</label
          >
          <input type="number" class="form-control" name="forclosYN" id="field_forclosYN" data-cy="forclosYN" formControlName="forclosYN" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.frais" for="field_frais">Frais</label>
          <select class="form-control" id="field_frais" data-cy="frais" name="frais" formControlName="frais" [compareWith]="compareFrais">
            <option [ngValue]="null"></option>
            @for (fraisOption of fraisSharedCollection; track $index) {
              <option [ngValue]="fraisOption">{{ fraisOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.operateur" for="field_operateur"
            >Operateur</label
          >
          <select
            class="form-control"
            id="field_operateur"
            data-cy="operateur"
            name="operateur"
            formControlName="operateur"
            [compareWith]="compareOperateur"
          >
            <option [ngValue]="null"></option>
            @for (operateurOption of operateursSharedCollection; track $index) {
              <option [ngValue]="operateurOption">{{ operateurOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="microserviceGirApp.microserviceGirPaiementFrais.inscriptionAdministrativeFormation"
            for="field_inscriptionAdministrativeFormation"
            >Inscription Administrative Formation</label
          >
          <select
            class="form-control"
            id="field_inscriptionAdministrativeFormation"
            data-cy="inscriptionAdministrativeFormation"
            name="inscriptionAdministrativeFormation"
            formControlName="inscriptionAdministrativeFormation"
            [compareWith]="compareInscriptionAdministrativeFormation"
          >
            <option [ngValue]="null"></option>
            @for (inscriptionAdministrativeFormationOption of inscriptionAdministrativeFormationsSharedCollection; track $index) {
              <option [ngValue]="inscriptionAdministrativeFormationOption">{{ inscriptionAdministrativeFormationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
