<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (etudiant) {
      <div>
        <h2 data-cy="etudiantDetailsHeading">
          <span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.detail.title">Etudiant</span>
        </h2>

        <hr />

        <ugb-alert-error></ugb-alert-error>

        <ugb-alert></ugb-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ugbTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ etudiant.id }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.codeEtu">Code Etu</span></dt>
          <dd>
            <span>{{ etudiant.codeEtu }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.ine">Ine</span></dt>
          <dd>
            <span>{{ etudiant.ine }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.codeBU">Code BU</span></dt>
          <dd>
            <span>{{ etudiant.codeBU }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.emailUGB">Email UGB</span></dt>
          <dd>
            <span>{{ etudiant.emailUGB }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.dateNaissEtu">Date Naiss Etu</span></dt>
          <dd>
            <span>{{ etudiant.dateNaissEtu | formatMediumDate }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.lieuNaissEtu">Lieu Naiss Etu</span></dt>
          <dd>
            <span>{{ etudiant.lieuNaissEtu }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.sexe">Sexe</span></dt>
          <dd>
            <span>{{ etudiant.sexe }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.numDocIdentite">Num Doc Identite</span></dt>
          <dd>
            <span>{{ etudiant.numDocIdentite }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.assimileYN">Assimile YN</span></dt>
          <dd>
            <span>{{ etudiant.assimileYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.actifYN">Actif YN</span></dt>
          <dd>
            <span>{{ etudiant.actifYN }}</span>
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.region">Region</span></dt>
          <dd>
            @if (etudiant.region) {
              <div>
                <a [routerLink]="['/region', etudiant.region.id, 'view']">{{ etudiant.region.id }}</a>
              </div>
            }
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.typeSelection">Type Selection</span></dt>
          <dd>
            @if (etudiant.typeSelection) {
              <div>
                <a [routerLink]="['/type-selection', etudiant.typeSelection.id, 'view']">{{ etudiant.typeSelection.id }}</a>
              </div>
            }
          </dd>
          <dt><span ugbTranslate="microserviceGirApp.microserviceGirEtudiant.lycee">Lycee</span></dt>
          <dd>
            @if (etudiant.lycee) {
              <div>
                <a [routerLink]="['/lycee', etudiant.lycee.id, 'view']">{{ etudiant.lycee.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ugbTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/microservicegir/etudiant', etudiant.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ugbTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
